// Conteneur
// ==================
:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;

  &.left {
    transform: scaleX(-1);
  }
}

// Container
// ==============
%container,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.container-full {
  box-sizing: border-box;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

%container-margin {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

.container-narrow {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-width: 1330px;
  }
}

// Ratios
// ==================
.ratio {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

// Horizontal
// ==================
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-md {
  @include up(500) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.flex-start {
  justify-content: flex-start;
}

.inline-1 {
  display: flex;

  & > * + * {
    margin-left: space(1);
  }
}

// Largeur
// =============
.w100 {
  width: 100%;
}

// Grille
// ==================
.grid {
  width: 100%;
  display: grid !important;
  grid-gap: space(2);
  grid-template-columns: repeat(auto-fill, minmax(var(--col, 275px), 1fr));
}

.grid2 {
  width: 100%;
  display: grid !important;
  grid-gap: space(2);
  grid-template-columns: 1fr;

  @include up(500) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid.fit {
  grid-template-columns: repeat(auto-fit, minmax(var(--col, 275px), 1fr));
}

.grid .full {
  grid-column: 1 / -1;
}

.grid .end {
  justify-content: flex-end;
}

// Stacks
// ==================
%stack,
.stack,
.stack-large,
.stack-separated {
  --gap: 2;
  display: grid!important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  grid-gap: calc(var(--gap) * var(--space));
}

.stack-large {
  --gap: 4;
}

.stack-separated {
  --gap: 3;
  --gap-separated: var(--gap);
  grid-gap: calc(var(--gap) * var(--space) * 2);
}

.stack-separated > * + * {
  position: relative;
}

.stack-separated > * + *::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: var(--border-light);
  top: calc(var(--gap-separated) * var(--space) * -1);
}

%hstack > * + * {
  margin-left: calc(var(--gap) * var(--space));;
}

.hstack > * + * {
  margin-left: space(2);
}

.hstack-large > * + * {
  margin-left: space(4);
}

// Layout
// ==================
.layout-sidebar {
  @extend %container;
  --gap: 3;
  display: grid;
  grid-gap: calc(var(--gap) * var(--space));
  grid-template-columns: 100%;

  @include up(1100) {
    grid-template-columns: calc(100% - 385px) 385px;
  }
}

.sticky {
  position: sticky;
  top: space(3);
}

// Spaces
// =============
@for $i from 1 through 5 {
  .p#{$i} {
    padding: space($i);
  }
  .py#{$i} {
    padding-top: space($i);
    padding-bottom: space($i);
  }
  .mt#{$i} {
    margin-top: space($i);
  }
  .mb#{$i} {
    margin-bottom: space($i);
  }
  .mr#{$i} {
    margin-right: space($i);
  }
  .ml#{$i} {
    margin-left: space($i);
  }
}
