// Conteneur
// ==================
:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

%container,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

%container-margin {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-width: 1330px;
  }
}

// Ratios
// ==================
.ratio {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

// Disposition
// ==================
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
