// Variables
// ==================
$font: "Roboto", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-alt: "Montserrat", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Font face
// ==================
/*
@include font-face('a', './fonts/HKGrotesk-Regular', 300 400 600 700, null, woff2 woff ttf svg eot);
*/

%hero-title,
.hero-title {
  font-size: 52px;
  font-family: $font-alt;
  font-weight: 700;
  line-height: 1.2;

  strong {
    color: var(--contrast);
  }

  @include down(675) {
    font-size: 45px;
  }
}

%hero-text,
.hero-text {
  font-size: 18px;

  @include up(600) {
    font-size: 22px;
  }
}

%section-title,
.section-title {
  font-family: $font-alt;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--border);
  padding-bottom: space(1);
  margin-bottom: space(3);
}

%card-title {
  font-family: $font-alt;
  font-size: 20px;
  font-weight: bold;
}

%h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
}

%underlined {
  border-bottom: 1px solid var(--border);
  padding-bottom: space(1);
  margin-bottom: space(3);
}

// Pour générer les polices : https://transfonter.org/

// Alignements
// ==================
.text-right {
  text-align: right!important;
}
.text-center {
  text-align: center!important;
}
.text-inversed {
  color: var(--color-inversed);
}
.reader-only {
  display: none;
}
