// Variables
// ==================
$font: 'Inter', sans-serif;
$font-alt: 'Inter', sans-serif;

// Font face
// ==================
@include font-face('Inter', '/fonts/Inter', 400 500 700, null, woff2);

%hero-title,
.hero-title {
  font-size: 52px;
  font-family: $font-alt;
  font-weight: 700;
  line-height: 1.2;

  strong {
    color: var(--contrast);
  }

  @include down(675) {
    font-size: 45px;
  }
}

%hero-text,
.hero-text {
  font-size: 16px;

  strong {
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }

  @include up(600) {
    font-size: 22px;
  }
}

%section-title,
.section-title {
  font-family: $font-alt;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--border-light);
  padding-bottom: space(.5);
  margin-bottom: space(2);
}

%card-title {
  font-family: $font-alt;
  font-size: 20px;
  font-weight: bold;
}

%h1,
.h1 {
  font-family: $font-alt;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;

  @include up(600) {
    font-size: 42px;
  }
}

%h2,
.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
}

%underlined {
  border-bottom: 1px solid var(--border);
  padding-bottom: space(1);
  margin-bottom: space(3);
}

%h3,
.h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;

  strong {
    font-weight: bold;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

%h4,
.h4 {
  font-family: $font-alt;
  font-weight: bold;
}

small, .text-small {
  font-size: .9em;
}

// Pour générer les polices : https://transfonter.org/

// Alignements
// ==================
.text-left {
  text-align: left!important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-inversed {
  color: var(--color-inversed);
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
a.underline:hover {
  text-decoration: none;
}
.reader-only {
  display: none;
}
.text-danger {
  color: var(--red);
}
.text-muted {
  color: var(--color-light);
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-big {
  font-size: 1.1em;
}
.ignore-br br {
  display: none;
}
