// Variables
// ==================
$font: 'SF Pro', 'Roboto', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-alt: 'Gotham', 'Montserrat', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// $font: "Rubik";
// $font-alt: $font;

// Font face
// ==================
// https://gist.github.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59
@include font-face('Gotham', '/fonts/GothamPro', 500 700, null, woff2);
@include font-face('SF Pro', '/fonts/SFPro', 400 700, null, woff2);

%hero-title,
.hero-title {
  font-size: 52px;
  font-family: $font-alt;
  font-weight: 700;
  line-height: 1.2;

  strong {
    color: var(--contrast);
  }

  @include down(675) {
    font-size: 45px;
  }
}

%hero-text,
.hero-text {
  font-size: 18px;

  strong {
    font-weight: bold;
  }

  @include up(600) {
    font-size: 22px;
  }
}

%section-title,
.section-title {
  font-family: $font-alt;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--border);
  padding-bottom: space(1);
  margin-bottom: space(2);
}

%card-title {
  font-family: $font-alt;
  font-size: 20px;
  font-weight: bold;
}

%h1,
.h1 {
  font-family: $font-alt;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
  line-height: 1.2;
}

%h2,
.h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
}

%underlined {
  border-bottom: 1px solid var(--border);
  padding-bottom: space(1);
  margin-bottom: space(3);
}

%h3,
.h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;

  strong {
    font-weight: bold;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

%h4,
.h4 {
  font-family: $font-alt;
  font-weight: bold;
}

small {
  font-size: .9em;
}

// Pour générer les polices : https://transfonter.org/

// Alignements
// ==================
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-inversed {
  color: var(--color-inversed);
}
.underline {
  text-decoration: underline;
}
a.underline:hover {
  text-decoration: none;
}
.reader-only {
  display: none;
}
.text-danger {
  color: var(--red);
}
.text-muted {
  color: var(--color-light);
}
