{% extends 'base.html.twig' %}

{% block title 'Mes notifications' %}

{% block body %}

  <div class="container stack">
    <h1 class="hero-title">Mes notifications</h1>

    <div class="stack-separated">
      {% for notification in notifications %}
      <div class="formatted">
        {% if notification.read %}
          <span style="color: goldenrod">
            {{ icon('star') }}
          </span>
        {% endif %}
        <strong>{{ notification.message }}</strong> - {{ notification.url }}<br>
        {{ notification.createdAt | ago }}
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
