{% extends 'base.html.twig' %}

{% block title 'Mes notifications' %}

{% block body %}

  <div class="container stack py5">
    <h1 class="hero-title">Mes notifications</h1>

    <div class="card p3">
      <div class="stack-separated">
        {% for notification in notifications %}
          <div class="formatted">
            {% if notification.read %}
              <span style="color: goldenrod">
            {{ icon('star') }}
          </span>
            {% endif %}
            <a href="{{ notification.url }}"><strong>{{ notification.message }}</strong></a><br/>

            {{ notification.createdAt | ago }}
          </div>
        {% endfor %}
      </div>
    </div>
    </div>

{% endblock %}
