{% set headerWhite = true %}

{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
  <div class="sub-header">
    <div class="auth-container">

      <h1 class="auth-title fade">Se connecter</h1>

      {% if error %}
        <alert-message type="danger">
          {{ error.messageKey | trans(error.messageData, 'security') }}
        </alert-message>
      {% endif %}

      <form class="auth-form fade fade-1" method="post">
        <div class="form-group">
          <label for="inputEmail">Nom d'utilisateur</label>
          <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div class="form-group">
          <label for="inputPassword">Mot de passe</label>
          <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
        <div class="flex">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="_remember_me">
            <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
          </div>
          <a href="#" class="auth-password-forgot">Mot de passe oublié ?</a>
        </div>
        <button type="submit" class="btn-gradient">Se connecter</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      </form>
    </div>
    <waves-shape></waves-shape>
  </div>
{% endblock %}
