api_platform:
  show_webby: false
  mapping:
    paths:
      - '%kernel.project_dir%/src/Http/Api/Resource'
      - '%kernel.project_dir%/config/api/resources.yaml'
      - '%kernel.project_dir%/src/Domain'
  patch_formats:
    json: ['application/merge-patch+json']
  swagger:
    versions: [3]
  formats:
    json: ['application/json']
    html: ['text/html']
    jsonld: ['application/ld+json']
  defaults:
    pagination_client_items_per_page: false
  collection:
    pagination:
      items_per_page_parameter_name: count
