doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '5.7'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            # App:
            #     is_bundle: false
            #     type: annotation
            #     dir: '%kernel.project_dir%/src/Entity'
            #     prefix: 'App\Entity'
            #     alias: App
            App\Domain:
              is_bundle: false
              type: annotation
              dir: '%kernel.project_dir%/src/Domain'
              prefix: 'App\Domain'
              alias: Domain
        dql:
            datetime_functions:
                EXTRACT: DoctrineExtensions\Query\Postgresql\ExtractFunction
                NOW: DoctrineExtensions\Query\Mysql\Now
            string_functions:
                LPAD: DoctrineExtensions\Query\Mysql\Lpad
                CAST: DoctrineExtensions\Query\Mysql\Cast
