doctrine:
  dbal:
    url: '%env(resolve:DATABASE_URL)%'
    profiling_collect_backtrace: '%kernel.debug%'
    types:
      tsvector:  App\Infrastructure\Orm\Types\TsVector
    # IMPORTANT: You MUST configure your server version,
    # either here or in the DATABASE_URL env var (see .env file)
    #server_version: '5.7'
  orm:
    auto_generate_proxy_classes: true
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
    auto_mapping: true
    mappings:
      # App:
      #     is_bundle: false
      #     type: annotation
      #     dir: '%kernel.project_dir%/src/Entity'
      #     prefix: 'App\Entity'
      #     alias: App
      App\Domain:
        is_bundle: false
        type: annotation
        dir: '%kernel.project_dir%/src/Domain'
        prefix: 'App\Domain'
        alias: Domain
    dql:
      numeric_functions:
        RANDOM: DoctrineExtensions\Query\Sqlite\Random
        ROUND: DoctrineExtensions\Query\Mysql\Round
      datetime_functions:
        EXTRACT: DoctrineExtensions\Query\Postgresql\ExtractFunction
        TO_CHAR: DoctrineExtensions\Query\Postgresql\DateFormat
        NOW: DoctrineExtensions\Query\Mysql\Now
      string_functions:
        LPAD: DoctrineExtensions\Query\Mysql\Lpad
        CAST: DoctrineExtensions\Query\Mysql\Cast

