framework:
    messenger:
        # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
        failure_transport: failed

        transports:
            # https://symfony.com/doc/current/messenger.html#transport-configuration
            async:
              dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
              retry_strategy:
                max_retries: 0
                delay: 5000
            failed: doctrine://default
            sync: 'sync://'

        routing:
            # Route your messages to the transports
            App\Infrastructure\Queue\Message\ServiceMethodMessage: async
            # 'App\Message\YourMessage': async
