twig:
    default_path: '%kernel.project_dir%/templates'
    form_themes:
      - 'form/layout.html.twig'
    date:
      format: d F Y
      interval_format: '%%d days'
    globals:
      mercure_subscribe_url: '%env(resolve:MERCURE_SUBSCRIBE_URL)%'
