version: '3.3'
services:
  phptest:
    image: grafikart/php:php8.1-1
    volumes:
      - .:/var/www:delegated
    links:
      - dbtest
    networks:
      - test
    environment:
      DATABASE_URL: postgresql://test:test@dbtest:5432/test?serverVersion=12&charset=utf8
  dbtest:
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_USER: test
      POSTGRES_DB: test
    ports:
      - 5433:5433
    networks:
      - test

networks:
  test:
