includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-mockery/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
  level: 8
  paths:
    - src
  excludes_analyse:
    - src/Infrastructure/Migrations/*
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
