<div class="hstack">
  <a href="http://feeds.feedburner.com/Grafikart" title="Flux RSS" target="_blank" rel="noreferrer">
    <img src="/images/social/rss.svg" alt="" loading="lazy">
  </a>
  <a href="https://github.com/grafikart" title="Github" target="_blank" rel="noreferrer">
    <img src="/images/social/github.svg" class="lighten-dark" alt="" loading="lazy">
  </a>
  <a href="https://www.youtube.com/user/grafikarttv?sub_confirmation=1" title="Youtube" target="_blank" rel="noreferrer">
    <img src="/images/social/youtube.svg" alt="" loading="lazy">
  </a>
  <a href="https://twitter.com/grafikart_fr" title="Twitter" target="_blank" rel="noreferrer">
    <img src="/images/social/twitter.svg" alt="" loading="lazy">
  </a>
</div>
