<div class="hstack">
  <a href="http://feeds.feedburner.com/Grafikart" title="Flux RSS">
    <img src="/images/social/rss.svg" alt="" loading="lazy">
  </a>
  <a href="https://github.com/grafikart_fr" title="Github">
    <img src="/images/social/github.svg" alt="" loading="lazy">
  </a>
  <a href="https://www.youtube.com/user/grafikarttv?sub_confirmation=1" title="Youtube">
    <img src="/images/social/youtube.svg" alt="" loading="lazy">
  </a>
  <a href="https://twitter.com/grafikart_fr" title="Twitter">
    <img src="/images/social/twitter.svg" alt="" loading="lazy">
  </a>
</div>
