{% if user.premium %}
  <span class="pill small pill-yellow uppercase">{{ icon('star', 12) }} premium</span>
{% else %}
  <a class="pill small pill-darkgrey" href="{{ path('premium') }}">Compte standard</a>
{% endif %}
