{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block title 'Politique de confidentialité' %}

{% block body %}
  <div class="page-header container">
    <h1 class="h1">Politique de confidentialité</h1>
  </div>

  <div class="container bg py4">
    <div class="formatted">
      <h2>
        Utilisation des données personnelles collectées
      </h2>
      <h3>
        Commentaires et Sujets
      </h3>
      <p>
        Quand vous laissez un commentaire ou un sujet sur Grafikart, les données inscrites dans le formulaire, mais aussi votre adresse IP et l’agent utilisateur de votre navigateur sont collectés pour nous aider à la détection des commentaires indésirables.
      </p>
      <p>
        Une chaîne anonymisée créée à partir de votre adresse de messagerie (également appelée hash) peut être envoyée au service Gravatar pour vérifier si vous utilisez ce dernier. Les clauses de confidentialité du service Gravatar sont disponibles ici&nbsp;: <a href="https://automattic.com/privacy/">https://automattic.com/privacy/</a>. Après validation de votre commentaire, votre photo de profil sera visible publiquement à coté de votre commentaire.
      </p>
      <h3>
        Avatars
      </h3>
      <p>
        Si vous êtes un utilisateur ou une utilisatrice enregistré·e et que vous téléversez des images sur le site web, nous vous conseillons d’éviter de téléverser des images contenant des données EXIF de coordonnées GPS. Les visiteurs de votre site web peuvent télécharger et extraire des données de localisation depuis ces images.
      </p>
      <h3>
        Formulaires de contact
      </h3>
      <p>
        Le formulaire de contact utilise <a href="https://www.google.com/recaptcha/intro/android.html">reCAPTCHA</a> afin de lutter contre le SPAM. L'utilisation de cette fonctionnalité est soumise aux <a href="https://www.google.com/intl/fr/policies/privacy/">Règles de confidentialité</a> et aux <a href="https://www.google.com/intl/fr/policies/terms/">Conditions d'utilisation</a> de Google.
      </p>
      <h3>
        Cookies
      </h3>
      <p>
        Si vous avez un compte et que vous vous connectez sur le site, un cookie temporaire sera créé afin de persister votre état de connexion. Ce cookie sera automatiquement détruit lorsque vous vous déconnecté du site.
      </p>
      <h3>
        Contenu embarqué depuis d’autres sites
      </h3>
      <p>
        Certains articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.
      </p>
      <p>
        Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.
      </p>
      <h3>
        Statistiques et mesures d’audience
      </h3>
      <p>
        Afin d'analyser le traffic du site (nombre de visites, pages les plus consultés...) nous n'utilisons pas de service tiers mais un service auto hébergé basé sur <a href="https://github.com/usefathom/fathom">Fathom</a>. Les données sont anonymisées et ne permettent pas d'identifier le comportement individuel d'un utilisateur mais plutôt une tendance générale (nombre de visites sur le site et le nombre de visites par page seulement).
      </p>
      <hr>
      <h2>
        Durées de stockage de vos données
      </h2>
      <p>
        Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.
      </p>
      <p>
        Pour les utilisateurs et utilisatrices qui s’enregistrent sur le site, nous stockons également les données personnelles indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment. Seul le gestionnaire du site peut aussi voir et modifier ces informations.
      </p>
      <hr>
      <h2>
        Les droits que vous avez sur vos données
      </h2>
      <p>
        Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.
      </p>
      <ul>
        <li>
          Si vous avez un compte et que vous souhaitez supprimer vos informations vous pouvez le faire automatiquement depuis <a href="/profil">votre compte</a> en cliquant sur le bouton supprimé.
        </li>
        <li>
          Vi vous avez posté un commentaire sans être connecté vous pouvez <a href="/contact">me contacter</a> pour demander la suppression de ce dernier.
        </li>
      </ul>
      <hr>
      <h2>
        Transmission de vos données personnelles
      </h2>
      <p>
        Les commentaires des visiteurs sont vérifiés à l’aide d’un service automatisé de détection des commentaires indésirables : <a href="https://automattic.com/privacy/">Akismet</a>. En dehors de cela vos données ne sont pas partagées avec un tiers.
      </p>
      <hr>
      <h2>
        Informations supplémentaires
      </h2>
      <h3>
        Comment nous protégeons vos données
      </h3>
      <p>
        Afin que les données à caractère personnel que nous recueillons ne soient ni perdues, ni divulguées par des tiers non autorisés, nous avons mis en place les mesures nécessaires (pare feu, base de données non accessible à distance...) proportionnellement à la sensibilité des données stockées.
      </p>
      <h3>
        Procédures mises en œuvre en cas de fuite de données
      </h3>
      <p>
        Conformément à la procédure prévue par le règlement général sur la protection des données en cas de fuite ou d’anomalie concernant les données personnelles en notre possession, et vous avertirons de la nature des données ayant fuitées et la nature du risque qui peut être engendrée si cela peut entamer vos droits et libertés (données sensibles) dans un délai maximal de 72 heures après constat du problème.
      </p>
      <p>
        &nbsp;
      </p>
    </div>
  </div>
{% endblock %}
