{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block title 'Contact' %}

{% block body %}
  <div class="page-header container">
    <h1 class="h1 mb2">Me contacter</h1>
    <p class="formatted" style="max-width: 700px;">
      Si vous avez des problèmes ou un bug dans votre code n'utilisez pas ce formulaire ! Commencez par chercher sur <a href="http://google.com">google</a> ou sur le <a href="/forum">Forum</a>. Si vous ne trouvez aucun sujet correspondant, créez un nouveau sujet.
    </p>
  </div>
  <div class="container bg py5">
    <div class="layout-sidebar">
      <div>
        <contact-form></contact-form>
      </div>
      <div>
        <div class="section-title">Sur Discord</div>
        <p class="formatted">
          Vous avez envie de parler en direct avec d'autres membres du site ? N'hésitez pas à faire un tour sur le <a href="/tchat">serveur discord #grafikart</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
