{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block body %}

  <div class="sections page-env">

    <section id="page-header">
      <h1 class="hero-title">
        Mon<br>
        environnement
      </h1>
      <div class="formatted">
      </div>
    </section>

    <section class="hero-grid">
      <div class="stack">
        <h2 class="hero-title">
          Mon<br>
          <strong>éditeur</strong>
        </h2>
        <p class="hero-text">
          Au fil des vidéos je suis amené à utiliser plusieurs éditeurs.
          Aussi vous êtes assez nombreux à poser cette fameuse question "Quel éditeur tu utilise ?".
        </p>
      </div>
      <div class="stack-large">
        <nav-tabs class="nav-pills">
          <a href="#phpstorm" aria-controls="phpstorm" aria-selected="true">PHPStorm</a>
          <a href="#vscode" aria-controls="vscode" role="tab">VScode</a>
        </nav-tabs>
        <div style="position:relative;">
          <div class="stack-large" id="phpstorm">
            <img src="{{ asset('images/env/phpstorm.png') }}" alt="Interface PHPStorm" class="card-big">
            <div class="formatted container-narrow">
              <p>
                Dans la plupart des vidéos j'utilise l'éditeur <a
                  href="https://www.jetbrains.com/phpstorm/">PHPStorm</a>
                car il offre tout un ensemble d'outil qui me permettent de travailler de manière plus rapide et plus
                efficace.
              </p>
              <p>
                J'utilise actuellement le thème <strong>Palenight</strong> fourni par l'extension <a
                  href="https://plugins.jetbrains.com/plugin/8006-material-theme-ui">Material Theme</a>. Pour la police
                j'utilise
                <a href="https://www.jetbrains.com/lp/mono/">Jetbrains Mono</a> qui est installée par défaut avec
                l'éditeur.
              </p>
            </div>
          </div>
          <div class="stack-large" id="vscode" hidden="hidden">
            <img src="{{ asset('images/env/vscode.png') }}" alt="Interface Visual Studio Code" class="card-big">
            <div class="formatted container-narrow">
              <p>
                <a href="https://code.visualstudio.com/">Visual studio code</a> est un éditeur que j'utilise en général
                dans
                les vidéos qui ciblent un public plus débutant. L'éditeur est plus accessible et je préfère avoir un
                environnement
                au plus proche de la personne qui va suivre la vidéo.
              </p>
              <p>
                En revanche, je ne l'utilise pas quotidiennement car il offre une auto-complétion moins performante sur
                le language PHP
                et n'offre pas forcément tous les outils que je suis habitué à utiliser sur PHPStorm.
              </p>
              <p>
                Dans la plupart des vidéos j'utilise un éditeur sans configuration pour avoir une interface familière
                mais voici quelques extensions incontournable que j'utilise pour ma propose installation de l'éditeur
              </p>
              <ul>
                <li><a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer">LiveServer</a>
                  permet de lancer un serveur web qui actualisera la page à chaque changement de fichier.
                </li>
                <li><a href="https://marketplace.visualstudio.com/items?itemName=Equinusocio.vsc-material-theme">Material
                    Theme</a> me permet d'obtenir le thème Palenight.
                </li>
                <li><a href="https://marketplace.visualstudio.com/items?itemName=2gua.rainbow-brackets">Rainbow
                    Brackets</a> colorise les parenthèse / crochets et permet de mieux s'y repérer dans la ponctuation.
                </li>
                <li><a href="https://marketplace.visualstudio.com/items?itemName=shan.code-settings-sync">Setting
                    Sync</a> synchronise ma configuration entre mes différentes machines.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="stack-large">

      <div class="container-narrow">
        <div class="stack">
          <h2 class="hero-title">
            Mon système<br>
            <strong>d'exploitation</strong>
          </h2>
          <p class="hero-text">
            Mon système d'exploitation principal (celui sur lequel je passe le plus de temps) est <a
              href="https://archlinux.fr/">Arch Linux</a>.
          </p>
        </div>
      </div>

      <youtube-player
        video="J07s8C8IvT4"
        poster="{{ asset('images/env/linuxi3.png') }}"
        title="Linux avec l'environnement de bureau i3"
        class="card-big"
      ></youtube-player>

      <div class="formatted container-narrow">
        <p>
          Cette distribution dispose d'un système de "rolling release" qui permet de disposer des dernière versions
          des logiciels en continu (pour le meilleur et pour le pire). Un dépôt supplémentaire et accessible par la
          communauté,
          le Arch User Repository, permet aussi d'installer simplement et rapidement des application plus spécifiques.
        </p>
        <p>
          Mon environnement de bureau (l'interface qui permet d'intéragir avec le système) est <a
            href="https://i3wm.org/">i3</a>. C'est un environnement un peu particulier qui dispose les fenêtres
          sous formes de mosaïques plutôt que d'avoir des fenêtres flottantes.
        </p>
      </div>
    </section>

    <div class="text-center stack-large">
      <div class="stack">
        <div class="hero-title">
          Quels <strong>logiciels</strong><br>"
          j'utilise ?
        </div>
      </div>
      <div style="max-width: 800px; margin-left: auto;margin-right: auto;">
        <youtube-player
          video="GhTTjvi8HZk"
          poster="https://www.grafikart.fr/uploads/tutoriels/1/background_122.jpg"
          title="Comment sont fait les vidéos ?"
        ></youtube-player>
      </div>
    </div>

    <waves-shape class="waves" background="https://www.grafikart.fr/uploads/tutoriels/1/background_122.jpg" target="#page-header" position="bottom"></waves-shape>

  </div>
{% endblock %}

