{% extends 'base.html.twig' %}

{% block title 'Devenir premium' %}

{% block body %}

  <div class="container">

    <section id="page-header" class="stack text-inversed" style="padding-bottom: 200px;">
      <h1 class="hero-title">Devenir premium</h1>
      <div class="hero-text formatted">
        Devenir premium sur Grafikart, c'est <strong>soutenir</strong> la création de nouveaux contenus chaque semaine et accéder à du contenu exclusif pour apprendre et s'améliorer (comme le téléchargement des vidéos et des sources).
      </div>
    </section>

    <div class="premium-grid">
      <div class="premium-grid__body stack">
        <h2 class="h2">
          Pourquoi cette offre ?
        </h2>
        <div class="hero-text formatted">
          <p>
            Mon but à travers grafikart.fr est de partager mes connaissances avec le plus grand nombre, c'est pourquoi j'essaie de rendre un maximum de contenu gratuit et public.
          </p>
          <p>
            Malgré tout, la préparation, l'enregistrement et le montage des tutoriels prend un temps considérable (10 à 20 heures par semaine). Du coup proposer des options payantes, comme le téléchargement des sources, me permet d'amortir une partie du temps passé et de continuer à faire vivre le site.
          </p>
        </div>
      </div>
      <div class="premium-grid__price">
        <div class="card pricing">
          <div class="pricing__price">38<sup>€ HT</sup></div>
          <div class="pricing__eco">(économiser 10%)</div>
          <div class="pricing__item">
            Visionner les tutoriels
            <strong>en avance</strong>
          </div>
          <div class="pricing__item">
            Visionner les tutoriels
            <strong>en avance</strong>
          </div>
          <div class="pricing__item">
            Voir les vidéos
            <strong>premium</strong>
          </div>
          <div class="pricing__item">
            <strong>Télécharger</strong>
            les vidéos
          </div>
          <div class="pricing__item">
            <strong>Télécharger</strong>
            les sources
          </div>
          <div class="pricing__action">
            <button class="btn-primary">Devenir premium (12 mois)</button>
          </div>
        </div>
      </div>
    </div>



  </div>

  <waves-shape class="waves left" target="#page-header" position="bottom" style="--wave-height: 200px"></waves-shape>


{% endblock %}

