{% extends 'base.html.twig' %}

{% block title 'Devenir premium' %}

{% block body %}

  {% include('partials/flash.html.twig') with {floating: true} %}

  <div class="container py5">

    <section id="page-header" class="stack text-inversed py5" style="margin-bottom: 150px;">
      <h1 class="hero-title">Devenir premium</h1>
      <div class="hero-text formatted">
        Devenir premium sur Grafikart, c'est <strong>soutenir</strong> la création de nouveaux contenus chaque semaine
        et accéder à du contenu exclusif pour apprendre et s'améliorer (comme le téléchargement des vidéos et des
        sources).
      </div>
    </section>

    <div class="premium-grid">
      <div class="premium-grid__body stack">
        <h2 class="h2">
          Pourquoi cette offre ?
        </h2>
        <div class="hero-text formatted">
          <p>
            Mon but à travers grafikart.fr est de partager mes connaissances avec le plus grand nombre, c'est pourquoi
            j'essaie de rendre un maximum de contenu gratuit et public.
          </p>
          <p>
            Malgré tout, la préparation, l'enregistrement et le montage des tutoriels prend un temps considérable (10 à
            20 heures par semaine). Du coup proposer des options payantes, comme le téléchargement des sources, me
            permet d'amortir une partie du temps passé et de continuer à faire vivre le site.
          </p>
        </div>
      </div>
      <div class="premium-grid__price">
        {% include 'partials/premium.html.twig' %}
      </div>
    </div>
  </div>

  <waves-shape class="waves left" target="#page-header" position="bottom" style="--wave-height: 100px"></waves-shape>


  {% if app.request.get('success') %}
  <modal-dialog overlay-close>
    <section class=modal-box premium-modal">
      <con-fetti>
        <div class="text-center" style="margin-top: -115px;">
          <img src="/images/illustrations/payment.svg" alt="" style="max-width: 200px;" />
        </div>
      </con-fetti>
      <h1 class="h1 text-center">Merci</h1>
      <p class="formatted text-center mb3">
        Vous êtes maintenant premium jusqu'au <br/><strong>{{ app.user.premiumEnd | format_date('long') }}</strong>.
      </p>


      <a class="btn-primary btn-block" href="{{ path('course_premium') }}">
        {{ icon('star') }}
        Voir les tutoriels premiums
      </a>
    </section>
  </modal-dialog>
  {% endif %}


{% endblock %}

