{% extends 'base.html.twig' %}

{% set bodyClass = 'header-light' %}

{% block body %}

  <div class="container page-header flex">
    <h1 class="hero-title">Résultat pour votre recherche "<em>{{ q }}</em>"</h1>
  </div>

  <div class="container py5">
      <ul class="stack-large">
        {% for result in results %}
          <li>
            <h2 class="h4"><a href="{{ result.url }}">{{ result.title | raw }}</a></h2>
            <p class="text-muted text-small">Il y a 3 jours</p>
            <p class="mt1">
              {{ result.excerpt | raw | nl2br }}
            </p>
          </li>
        {% endfor %}
      </ul>
  </div>
{% endblock %}

