<header class="page-header container">
  <div class="profil-header">
    <form class="profil-header__avatar" enctype="multipart/form-data" method="post" action="{{ path('user_avatar') }}"
          is="auto-submit">
      <img src="{{ user | avatar }}" alt="">
      <div class="profil-header__upload">
        {{ icon('cloud') }}
      </div>
      <input type="file" name="avatar"/>
    </form>
    <div class="profil-header__body">
      <h1 class="h1">{{ title }}</h1>
      <p class="flex center">
        {% include 'partials/user_badge.html.twig' %}
        <small class="ml1">Inscrit depuis 10 ans</small>
      </p>
    </div>
  </div>
</header>
