{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% set bodyClass = 'light' %}

{% block body %}

  <header class="page-header technology-header container">
    <div class="stack w100">
      <h1 class="h1">Mon compte</h1>
    </div>
  </header>

  <div class="tabs-bar container">
    <a href="#formations" aria-selected="true">
      {{ icon('lines') }}
      Mon profil
    </a>
    <a href="#courses">
      {{ icon('user') }}
      Editer
    </a>
  </div>

  <div class="bg container py5">
    {% for progress in watchlist %}
      {% include 'courses/_card.html.twig' with {course: progress.content} %}
    {% endfor %}
  </div>


{% endblock %}
