{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% set bodyClass = 'light' %}

{% block body %}

  <header class="page-header technology-header container">
    <div class="stack w100">
      <h1 class="h1">Mon compte</h1>
    </div>
  </header>

  {% include 'profil/_tabs.html.twig' with {active: 'profil'} %}

  <div class="bg container py5">
    <div class="stack">
      <h2 class="h3">Vidéos <strong>en cours de visionnage</strong></h2>
      <div class="courses">
        {% for progress in watchlist %}
          {% include 'courses/_card.html.twig' with {course: progress.content, progress: progress.ratio} %}
        {% endfor %}
      </div>
    </div>
  </div>


{% endblock %}
