{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% set bodyClass = 'light' %}

{% block body %}

  <header class="page-header technology-header container">
    <div class="stack w100">
      <h1 class="h1">Mon compte</h1>
    </div>
  </header>

  {% include 'profil/_tabs.html.twig' with {active: 'profil'} %}

  <div class="bg container py5">
    <div class="stack" style="--gap: 7;">
      {% if watchlist | length > 0 %}
      <div class="stack">
        <h2 class="h3">Vidéos <strong>en cours de visionnage</strong></h2>
        <div class="courses">
          {% for progress in watchlist %}
            <div class="relative" id="progress{{ progress.id }}">
              <ajax-delete class="progress-delete" url="{{ path('api_delete_progress', {id: progress.id}) }}" target="#progress{{ progress.id }}">
                {{ icon('delete') }}
              </ajax-delete>
              {% include 'courses/_card.html.twig' with {course: progress.content, progress: progress.ratio} %}
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="grid2" style="--gap: 4;">
        {% if lastTopics | length > 0 %}
        <div class="stack">
          <h2 class="h3">Mes <strong>derniers sujets</strong></h2>
          <div class="card p2 stack-separated" style="--gap: 1">
            {% for topic in lastTopics %}
              {% include('forum/_topic.html.twig') %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if lastMessageTopics | length > 0 %}
        <div class="stack">
          <h2 class="h3">Les sujets auxquels <strong>je participe</strong></h2>
          <div class="card p2 stack-separated" style="--gap: 1">
            {% for topic in lastMessageTopics %}
              {% include('forum/_topic.html.twig') %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>


{% endblock %}
