.badges {
  display: grid;
  grid-gap: space(2);
  grid-row-gap: space(4);
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

%badges {
  background-image: url(/images/badges.png);
  width: 160px;
  height: 160px;
}

.badge-placeholder {
  background-image: url(/images/badge-placeholder.png);
  width: 87px;
  height: 87px;
  margin: 0 auto;
}

.badge-icon {
  width: 160px;
  height: 160px;
  position: relative;
  background-image: url(/images/badges.png);

  &::before, &::after {
    transition: transform .3s;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    @extend %badges;
  }

  img {
    transition: .3s;
    position: absolute;
    z-index: 3;
  }
}

.badge-icon-grey {
  background-position: 0 -160px * 3;
}

.badge-icon-grey::before {
  background-position: 0 -160px * 4;
}

.badge-icon-grey::after {
  background-position: 0 -160px * 5;
}

.badge-icon-blue::before {
  background-position: 0 -160px;
}

.badge-icon-blue::after {
  background-position: 0 -160px * 2;
}

// Effet de hover
// =============
.badge-hover {
  flex: none;
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  .badge-icon {
    transition: .3s;
    transform: translate(-35px, -35px) scale(.6);
  }
  &:hover {
    .badge-icon {
      transform: translate(-35px, -35px) scale(.8);
    }
    .badge-icon::before {
      transform: scale(.93);
    }
    .badge-icon::after {
      transform: scale(.95);
    }
    .badge-icon img {
      transform: scale(1.1);
    }
  }
}

// Modal de déblocage de badge
// =============
.badge-modal {
  width: 430px;
}

.badge-modal_sprite {
  animation: badgeBounce .3s ease-in-out .1s +
        .2s * 3 forwards;
}

.badge-modal hr {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.badge-modal_sprite {
  position: relative;
  width: 160px;
  height: 160px;
  margin: -80px auto 0;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@each $v in (0, 1, 2) {
  .badge-modal_sprite#{$v + 1} {
    @extend %badges;
    background-position: 0 (($v + 3) * -160px);
    animation: badgeSlideDown .3s ease-in .2s * ($v) both;
    animation-fill-mode: forwards;
  }

  .badge-modal_sprite-blue .badge-modal_sprite#{$v + 1} {
    background-position: 0 ($v * -160px);
  }
}

.badge-modal_icon {
  opacity: 0;
  animation: badgeSlideDownLast .2s ease-out .2s +
        .2s * 2;
  animation-fill-mode: forwards;
}

@keyframes badgeFade {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes badgeSlideDown {
  0% {
    transform: scale(.8);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes badgeSlideDownLast {
  0% {
    transform: scale(1.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes badgeBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
