.blog-posts {
  width: calc(100% - 2 * var(--container-padding));
  max-width: 725px;
  margin-left: auto;
  margin-right: auto;
}

// Article
// ==================
.blog-post a:hover {
  color: var(--contrast);
}
.blog-post {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-gap: space(4);
}
.blog-post + .blog-post {
  margin-top: space(10);
}
.blog-post__body > * + * {
  margin-top: space(2);
}
.blog-post__image {
  margin-top: space(1);
}
.blog-post__image img {
  @extend %card;
  @extend %card-hoverable;
  width: 160px;
  height: 160px;
  object-fit: cover;
}
.blog-post__title {
  @extend %hero-title;
  font-size: 42px;
}
.blog-post__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .6;
  font-size: .85em;
  text-transform: uppercase;
  font-weight: light;
}
