.chapters {
  @extend .stack-separated;
  font-size: .9rem;
  padding: space(3) 0;
}
.chapters-split {
  --gap: 4;
  @extend %stack;

  & > * {
    padding-top: space(1.5);
    padding-bottom: space(1.5);
    @extend %card;
  }

  .chapters__section {
    margin-bottom: space(2);
  }
}
.chapters__section {
  @extend %card-title;
  margin-bottom: space(3);
  padding-left: space(3);
  padding-right: space(3);
}
.chapters__item {
  display: flex;
  align-items: center;
  line-height: 1.4;
  padding: space(1) space(3);
}
.chapters__premium {
  display: flex;
  flex: none;
  width: 32px;
  height: 32px;
  color: var(--yellow);
  background-color: var(--yellow-alpha);
  margin-right: 20px;
  border-radius: 32px;
  align-items: center;
  justify-content: center;
  .icon {
    width: 20px;
    height: 20px;
  }
}
.chapters__premium + * {
  color: var(--color-light);
}
.chapters__title {
  margin-right: space(1);
  transform: translateY(-1px);
}
.chapters__duration {
  color: var(--color-light);
  margin-left: auto;
  font-size: 0.9em;
  white-space: nowrap;
}
.chapters__item:hover,
.chapters__item.is-selected {
  background: var(--background);
}

.chapters-toggle {
  position: absolute;
  top: calc(50% - 25px);
  width: 18px;
  height: 50px;
  left: -18px;
  background-color: #fff;
  background: var(--card-bg, var(--background-light));
  border: 1px solid var(--border);
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 3px;
  z-index: 10;
  border-top-right-radius: 3px;
  transition: .2s;
  opacity: 0;
  transform: translateX(10px);

  &::after {
    position: absolute;
    top: -20px;
    left: -20px;
    right: 0;
    bottom: -20px;
    content:'';
  }

  &:hover {
    background-color: var(--background);
  }

  .course-top-sidebar:hover & {
    opacity: 1;
    transform: translateX(0px);
  }

  .icon {
    flex: none;
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
  }

  .is-folded & .icon {
    transform: rotate(90deg);
  }
}
