.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  grid-gap: space(4);
  grid-auto-flow: dense;
}

.courses .card {
  width: 100%;
}

//
// ==================
.course-hero {
  @extend %hero-text;
  grid-column: 1 / -1;
  max-width: 500px;

  @include up(840) {
    grid-column: 1 / 3;

    &.is-paginated {
      grid-column: -3 / -1;
    }
  }

  &.is-paginated {
    margin-top: var(--card-padding);
    max-width: none;

    @include up(850) {
      text-align: right;
    }
  }

  em {
    display: block;
    margin-top: -30px;
    font-weight: 400;
    font-size: 30px;
  }

  .btn {
    font-size: 1rem;
  }
}
.course-hero > * + * {
  margin-top: space(4);
}
.course-hero h1 {
  @extend %hero-title;
}

// Tutoriel
// ==================
.course {
  position: relative;
  width: 100%;
  padding: var(--card-padding);
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  @extend %card;
}
.course a {
  position: relative;
  z-index: 3;
}
.course a:hover {
  color: var(--contrast);
}
.course > * {
  margin-bottom: space(2);
}
.course > *:last-child {
  margin-bottom: 0;
}
.course__player {
  --max-height: calc(100vh - 291px);
}
.course__placeholder {
  display: block;
  position: relative;

  span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 4px;
    color: #FFF;
    font-size: 22px;
    z-index: 3;
    transition: .3s;
    line-height: 1.2em;
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-left: solid 20px #FFF;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    z-index: 2;
  }

  &::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, var(--color) 0%, var(--color-transparent) 100%);
    z-index: 2;
    transition: .3s;
  }
  &:hover::before {
    opacity: .8;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    max-height: var(--max-height);
    object-fit: cover;
  }
}
.course__title {
  font-family: $font-alt;
  font-size: 16px;
  font-weight: bold;
}
.course__icons {
  display: flex;
  align-items: center;
}
.course__icons * + * {
  margin-left: space(1);
}
.course__icons img {
  width: 40px;
  height: 40px;
  display: block;
}
.course__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.course__content {
  opacity: 0.65;
}
.course .course__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.course__footer {
  display: flex;
  align-items: center;
  min-height: 36px;
  background: var(--card-footer);
  margin: auto calc(var(--card-padding) * -1) calc(var(--card-padding) * -1) !important;
  padding: 0 var(--card-padding);
}
.course__footer > * {
  opacity: 0.65;
}
.course__footer > *:last-child {
  margin-left: auto;
}
.course__footer svg {
  vertical-align: middle;
  transform: translateY(-2px);
  width: 12px;
  height: 12px;
}

// Page
// ==================
.course-top-sidebar {
  @extend %container;
  --gap: 3;
  display: grid;
  grid-template-columns: 1fr;

  @include down(1100) {
    & > *:last-child {
      display: none;
    }
  }

  @include up(1100) {
    grid-template-columns: 1fr 385px;
  }

  &.is-folded {
    grid-template-columns: 1fr 0px;
  }
}
.course-page {
  background: var(--background-light);
  border-top: solid 1px var(--border);
}
.course-tabs {
  @include up(1100) {
    display: none!important;
  }
}
.course-countdown {
  position: relative;
  padding-bottom: 56.25%;
  background-size: cover;

  &::after {
    content:'';
    background: linear-gradient(to top, var(--color) 0%, var(--color-transparent) 100%);
    z-index: 2;
  }

  div,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  div {
    z-index: 3;
    color: #FFF;
  }

}
.course-countdown_timer {
  display: block;
  @extend %h1;
}
@include dark {
  .course-countdown {
    --color: #111426;
  }
}
.requirements {
  @extend %card;
  padding: space(3);
}
.requirements__title {
  @extend %card-title;
  margin-bottom: space(2);
}
.requirements .list > * {
  margin-left: space(-3);
  margin-right: space(-3);
  padding-left: space(3);
  padding-right: space(3);
}
.course-actions {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: space(2);
  justify-items: flex-start;

  & > div:first-child {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
  }

  & > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: space(2);
  }

  @include up(600) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

// En tête technology
// =============
.technology-header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  min-height: 250px;
  grid-row-gap: space(3);

  @include up(690) {
    grid-template-columns: 1fr 300px;
  }

  @include up(1000) {
    grid-template-columns: 1fr 400px;
  }
}
.technology-header__logo {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 200px;
  flex: none;
  order: -1;

  @include up(690) {
    height: 100px;
    order: 2;
  }
}
.technology-header__logo img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

// Progression
// =============
.progress-delete {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  z-index: 3;
  opacity: 0;
  color: var(--red);
  transition: opacity .3s;
  cursor: pointer;
  background: var(--background);

  .courses > *:hover & {
    opacity: 1;
  }

  .icon {
    width: 100%;
    height: 100%;
  }
}
