.courses {
  @extend %container;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(245px, 1fr) );
  grid-gap: space(4);
  grid-auto-flow: dense;
}

//
// ==================
.course-hero {
  @extend %hero-text;
  grid-column: 1 / 3;
  max-width: 500px;

  &.is-paginated {
    margin-top: var(--card-padding);
    grid-column: -3 / -1;
    max-width: none;

    @include up(850) {
      text-align: right;
    }
  }

  em {
    display: block;
    margin-top: -30px;
    font-weight: 400;
    font-size: 30px;
  }
}
.course-hero > * + * {
  margin-top: space(4);
}
.course-hero h1 {
  @extend %hero-title;
}

// Tutoriel
// ==================
.course {
  position: relative;
  width: 100%;
  padding: var(--card-padding);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  @extend %card;
}
.course a {
  position: relative;
  z-index: 3;
}
.course a:hover {
  color: var(--contrast)
}
.course > * {
  margin-bottom: space(2);
}
.course > *:last-child {
  margin-bottom: 0;
}
.course__title {
  font-family: $font-alt;
  font-size: 16px;
  font-weight: bold;
}
.course__icons {
  display: flex;
  align-items: center;
}
.course__icons * + * {
  margin-left: space(1);
}
.course__icons img {
  width: 40px;
  height: 40px;
  display: block;
}
.course__icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.course__content {
  opacity: .65;
}
.course .course__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.course__footer {
  display: flex;
  align-items: center;
  min-height: 36px;
  background: var(--card-footer);
  margin: auto calc(var(--card-padding) * -1) calc(var(--card-padding) * -1)!important;
  padding: 0 var(--card-padding);
}
.course__footer > * {
  opacity: .65;
}
.course__footer > *:last-child {
  margin-left: auto;
}
.course__footer svg {
  vertical-align: middle;
  transform: translateY(-2px);
  width: 12px;
  height: 12px;
}

// Page
// ==================
.course-page {

}
.requirements {
  @extend %card;
  padding: space(3);
}
.requirements__title {
  @extend %card-title;
  margin-bottom: space(2);
}
.requirements .list > * {
  margin-left: space(-3);
  margin-right: space(-3);
  padding-left: space(3);
  padding-right: space(3);
}
.course-actions {
  text-transform: uppercase;
  font-size: 20px;
  font-family: $font-alt;
  font-weight: bold;
}
.course-actions * > * {
  margin-left: space(1);
}

// En tête des tutoriels (avec player video)
// =============
.course-header {
  --sidebar-width: 385px;
  align-items: stretch;
  margin-bottom: space(8);
}
.course-header__sidebar {
  display: none;
}

@include up(700) {
  .course-header {
    display: grid;
    grid-template-columns: 1fr auto var(--sidebar-width) 1fr;
    grid-template-areas: "space player sidebar space2";
  }
  .course-header__sidebar {
    position: relative;
    display: block;

    & > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
    }
  }
  .course-header__player {
    border-radius: 8px;
    overflow: hidden;
    grid-area: player;
    width: calc(100vw - var(--sidebar-width) - 80px);
    max-width: 150vh;
  }
  .course-header__sidebar {
    grid-area: sidebar;
    max-height: 100%;
    overflow: auto;
    margin-left: var(--container-padding);
  }
}
