// Listing
// =============
.cursus-listing {
  --padding: 70px;
}
.cursus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: space(4);
  grid-auto-flow: dense;

  @include down(660) {
    grid-template-columns: 1fr;
  }
}
.cursus-section {
  @extend %container;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background: var(--background-light);
}
.cursus-section:first-child {
  padding-bottom: calc(var(--padding) * .5);
  background: linear-gradient(to top, var(--background), var(--background)) left bottom/100% 250px no-repeat var(--background-light);
}
.cursus-section:nth-child(2n) {
  background: var(--background);
}

// Page cursus
// =============
.cursus-page {
  @extend %container-margin;
  position: relative;
  --gap: 8;
}
.cursus-page::after {
  content:'';
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  width: 12px;
  z-index: -2;
  background-color: var(--border-light);
}
.cursus-page__chapter {
  padding-left: 50px;
  position: relative;
}
.cursus-page__chapter::before,
.cursus-page__chapter::after {
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  bottom: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  z-index: -1;
  background: var(--background);
  border: 7px solid var(--border-light);
}
.cursus-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: space(4);
  align-items: flex-start;
  --size: 100px;

  & > *:first-child {
    align-self: center;
  }

  img {
    display: none;
  }

  @include up(700) {
    grid-template-columns: 1fr calc(var(--size) * 2 + 4 * var(--space));

    & > *:first-child {
      align-self: center;
    }

    img {
      display: block;
      height: 350px;
      margin-top: -30px;
      margin-bottom: -100px;
    }
  }

  @include up(1000) {
    --size: 150px;
  }
}
.cursus-header__technologies {
  display: grid;
  grid-template-columns: var(--size) var(--size);
  grid-template-rows: var(--size) var(--size);
  grid-gap: space(4);
  margin-top: space(-3);
  margin-bottom: space(-8);
  justify-content: center;
}
.cursus-header__technologies a {
  display: block;
  width: 100%;
  height: 100%;
}
.cursus-header__technologies img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
}
