.dashboard {
  @extend %container;
}
.dashboard-title {
  font-weight: 600;
  font-size: 1.5rem;
}
.dashboard-title svg {
  height: 20px;
  width: 20px;
  color: var(--contrast);
}
.dashboard-card {
  @extend %card-big;
  padding: space(3);
}
.dashboard-search {
  display: flex;
  flex-basis: 250px;
}
.dashboard-search input {
  max-width: 300px;
  background: url(..//images/input-search.svg) right 16px center / 12px 12px no-repeat;
}
.dashboard-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  & > * + * {
    margin-left: space(1);
  }
}
.dashboard-btn {
  @extend .btn-gradient;
  font-size: 0.9em;
}
.dashboard .mdeditor {
  box-shadow: none;
  height: 350px;
}

// Grille
// ==================
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: space(3);
}

// Formulaires
// =============
.form-attachment {
  grid-column: -2 / -1;
  grid-row-end: span 2;
}
.form-editor {
  grid-column: 1 / -1;
}
.form-switch {
  align-self: flex-end;
}

// Commentaires
// =============
.dashboard-comment {
  position: relative;
}
.dashboard-comment strong {
  font-weight: bold;
  margin-bottom: space(1);
}
.dashboard-comment p {
  opacity: 0.6;
}
.dashboard-comment .icon-user {
  height: 12px;
  width: 12px;
}
.dashboard-comment .icon-delete {
  height: 14px;
  width: 14px;
}
.dashboard-comment__delete {
  color: var(--border);
  cursor: pointer;
  transition: 0.3s;

  .dashboard-comment:hover & {
    display: block;
  }

  &:hover {
    color: var(--red);
    opacity: 1;
  }
}

// Champs Formation
// =============
.dashboard-formation-editor {
  --col: 320px;
  .mdeditor {
    min-height: 500px;
    height: 100%;
  }
  & > *:first-child {
    grid-column: 1 / -2 !important;
  }
  & > *:last-child {
    grid-column: -2 / -1 !important;
  }
}
