.page-env youtube-player {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.page-env > *:first-child {
  color: var(--color-inversed);
  background: transparent!important;
  padding-top: 50px;
  padding-bottom: 175px;
  z-index: 2;
}

.page-env > *:nth-child(2) {
  padding-top: 0 !important;
}

.page-env > *:nth-child(2n) {
  background-color: var(--background);
}

.page-env .waves {
  --wave-height: 150px;
}

@include up(900) {

  .page-env .waves {
    --wave-height: 200px;
    transform: scaleX(-1);
  }
  .page-env .hero-grid > *:first-child {
    align-self: flex-start;
    padding-top: 150px;
  }

}
