.forum-page {
  @extend %container;
  display: grid;
  grid-gap: space(3);
  grid-template-columns: 1fr;

  @include up(800) {
    grid-template-columns: 190px 1fr;
  }
}

.forum-header {
  display: grid;
  grid-gap: space(2);

  .hero-title {
    flex: none;
  }

  @include up(800) {
    display: flex;
    align-items: center;

    form {
      margin-left: 70px;
      width: 100%;
    }
  }
}

.forum-page__sidebar {
  @include down(799) {
    grid-row-start: 2;
  }
}

.forum-page__sidebar-btn {
  .icon {
    margin-right: 0;
    margin-left: auto;
  }
}

.forum-search {
  position: relative;

  button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Avatar
// =============
.forum-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  flex: none;
  border-radius: 40px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
}

// Sujet résolu
.is-solved .forum-avatar::before,
.is-solved .forum-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0.7;
  background: var(--green);
}

.is-solved .forum-avatar::after {
  opacity: 1;
  background: url(/images/check.svg) center center / 50% 50% no-repeat;
}

// Réponse acceptée
.is-accepted .forum-avatar {
  border: 3px solid var(--green);
}

.is-accepted .forum-avatar::after {
  content: '';
  position: absolute;
  right: -10px;
  top: -2px;
  width: 18px;
  height: 18px;
  border-radius: 15px;
  border: 2px solid var(--background);
  background: url(/images/check.svg) center center / 70% 70% no-repeat var(--green);
}

// Listing sujet
// =============
.forum-topic {
  display: grid;
  grid-template-columns: 40px 1fr 30px;
  grid-gap: space(2);
  padding: space(2);
  width: calc(100% + #{space(2)});
  position: relative;
  transition: 0.3s;

  @include down(800) {
    margin-left: space(-2);
    margin-right: space(-2);
  }
}

.forum-topic a {
  position: relative;
  z-index: 3;
}

.forum-topic:hover {
  background: var(--background-light);
  box-shadow: 0 2px 4px var(--shadow);

  .card & {
    background-color: transparent;
    box-shadow: none;
  }
}

.forum-topic.is-read {
  opacity: .6;

  img {
    filter: grayscale(1);
  }

  .forum-topic__title {
    color: var(--color-light);
  }
}

.forum-topic__title {
  display: block;
  margin-right: 150px;
  font-weight: bold;
  font-family: $font-alt;
  line-height: 1.3;

  @include down(800) {
    margin-right: 0;
  }

  .forum-topic:hover & {
    color: var(--contrast);
  }
}

.forum-topic__body {
  position: relative;

  @include down(800) {
    padding-top: 22px;
  }
}

.forum-topic__tags {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  grid-gap: space(1);
  max-width: 100%;
  overflow: auto;

  @include up(800) {
    max-width: 150px;
    justify-content: flex-end;
    flex-wrap: wrap;
    right: 0;
    left: auto;
    overflow: visible;
  }

  & > * {
    white-space: nowrap;
  }
}

.topic-tag {
  display: flex;
}

.topic-tag a {
  border-radius: 2px;
  padding: space(1);
}

.topic-tag a.is-parent {
  border-bottom-right-radius: 0!important;
  border-top-right-radius: 0!important;

  & + * {
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
  }
}

.topic-tag a[style] {
  color: #fff;
  &::after {
    display: none; // overwrite pill overlay
  }
}

.forum-topic__meta {
  color: var(--color-light);
}

.forum-topic__meta a:hover {
  text-decoration: underline;
}

.forum-topic__meta time-ago {
  font-weight: 300;
  text-transform: lowercase;
}

.forum-topic__excerpt {
  color: var(--color-light);
}

.forum-topic__count {
  text-align: right;
  font-size: 0.9em;
  color: var(--color-light);
  white-space: nowrap;
}

.forum-topic svg {
  width: 14px;
  height: 14px;
}

.forum-topic .forum-topic__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 2;
}

// Topic
// =============
.topic-header {
  display: grid;
  grid-template-columns: 1fr 37px;
  grid-gap: space(2);
}
.topic-header__meta {
  display: flex;
  align-items: center;
  gap: .5em;

  @include down(700) {
    display: grid;
    grid-gap: .5em;
  }
}
.topic-header__author {
  flex: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.topic-header__date {
  flex: none;
  white-space: nowrap;
  color: var(--color-light);

  @include up(700) {
    text-transform: lowercase;
    margin-left: -.5em;
    &::before {
      content: ', '
    }
  }
}
.topic-header__tags {
  display: flex;
  gap: space(1);
  flex-wrap: wrap;
}
.forum-messages {
  --gap: 5;
  @extend %stack;
}
.forum-messages .mdeditor {
  height: auto;
}
.forum-message {
  @extend %stack;
  grid-row-gap: var(--space);

  p,
  ul,
  ol {
    margin-bottom: 1rem;
  }
}
.forum-message .forum-avatar {
  @include up(700) {
    grid-row: 1 / span 2;
  }
}
.forum-message__header {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 90px;
  flex-wrap: wrap;

  .pill {
    margin-left: .5em;
  }
}

.forum-message__author {
  display: flex;
  align-items: center;
  font-family: $font-alt;
  font-weight: 500;
  color: var(--color-dark);
  white-space: nowrap;
}

.forum-message__meta {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  white-space: nowrap;
  color: var(--color-light);

  button:hover {
    text-decoration: underline;
  }

  & > * {
    display: block;
    margin-left: .3em;
  }

  @include up(700) {
    &::before {
      content: ',  '
    }

    time-ago {
      text-transform: lowercase;
    }
  }

  @include down(700) {
    width: 100%;
  }
}

.forum-message__body {
  @include down(700) {
    grid-column: 1 / span 2;
  }
}

.forum-message__body .card {
  display: block;
}

.forum-message.is-reply {
  display: grid;
  grid-template-columns: 50px 1fr;

  .forum-avatar {
    width: 50px;
    height: 50px;
  }

  .forum-message__body {

    pre.with-syntax {
      margin-left: space(-2);
      margin-right: space(-2);
    }
  }

  .hjs {
    background-color: var(--background);
  }
}

.forum-message__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  position: absolute;
  top: space(-1);
  right: 0;

  @include down(700) {
    top: 0;
  }

  & > * + * {
    margin-left: space(1);
  }
}

// Tag
// =============
.forum-tags a {
  display: flex;
  align-items: center;
  padding: 5px space(1);

  img {
    transform: translateY(-1px);
  }

  span {
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    margin-right: space(1);
  }

  &:hover {
    color: var(--contrast);
  }

  &[aria-selected="true"] {
    background-color: var(--background-light);
    box-shadow: 0 2px 4px var(--shadow);
    border-radius: 2px;
  }
}

.forum-tags li li a {
  padding-left: space(5);
  font-size: .9rem;
}

// Report
// =============
.forum-report {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: var(--color-light);
}

.forum-report:disabled {
  opacity: 0.6;
}

.forum-report__form {
  @extend %card;
  top: 100%;
  position: absolute;
  z-index: 10;
  padding: space(2);
  line-height: 1.4;
  right: 0;
  width: 250px;
}

.forum-report__form::after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: 7px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-right: 10px solid #0000;
  border-left: 10px solid #0000;
}
