.formations {
  @extend %container;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(245px, 1fr) );
  grid-gap: space(4);
  grid-auto-flow: dense;
}

.formation-single {
  @extend %container;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  padding-top: 70px;

  .hero-title {
    margin-bottom: space(4);
  }

  @include up(700) {
    grid-template-columns: 420px 1fr;
    grid-gap: 120px;
  }
}

.formation-arguments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: space(3);
}
.formation-argument {
  border-radius: 8px;
  padding: space(3);
  background-color: var(--border-light);
}
.formation-arguments_title {
  @extend %h4;
  margin-bottom: space(2);
}
.formation-argument a:hover {
  text-decoration: underline;
}
.formation-argument li {
  display: inline-flex;
  align-items: flex-start;

  & + li {
    margin-top: space(1);
  }
}
.formation-argument li::before {
  transform: translateY(5px);
  content:'';
  display: inline-block;
  width: 15px;
  flex: none;
  height: 15px;
  border-radius: 15px;
  background: currentColor;
  border: 5px solid var(--background-light);
  margin-right: space(1);
}
.formation-argument .icon {
  width: 12px;
  height: 12px;
}

// Carte cursus
// =============
.cursus-card {
  @extend %card;
  padding: space(3);
  padding-right: calc(250px + 3 * var(--space));
  position: relative;
}
.cursus-card__icons {
  display: flex;
  margin-bottom: space(2);
}
.cursus-card__icons img {
  display: block;
  width: 40px;
  height: 40px;
}
.cursus-card__content {
  max-height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cursus-card__title {
  @extend %card-title;
  margin-bottom: 16px;
}
.cursus-card__image {
  position: absolute;
  width: 250px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #121C42;
}
.cursus-card__image img {
  opacity: .30;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.cursus-card__footer {
  opacity: .65;
  padding: 0;
  background-color: transparent;
  margin-top: space(3);
}
