.header-nav .has-live .icon {
  animation: liveRunning 3s infinite linear;
}

@keyframes liveRunning {
  0% {color: var(--red) }
  30% {color: var(--red) }
  50% {color: inherit }
  70% {color: var(--red) }
  100% {color: var(--red) }
}

// Live courant
// ==================
.live-current {
  @extend %container-margin;
  margin-top: 100px;
  margin-bottom: var(--space-section);
}
.live-current__title {
  @extend %hero-title;
  margin-bottom: space(4);

  em {
    font-size: 1.2rem;
    font-weight: normal;
  }
}
.live-current__body {
  @extend %card-big;

  @include up(1100) {
    display: grid;
    grid-template-columns: 1fr 350px;
    align-items: stretch;
    justify-content: stretch;
  }
}

.live-current__body iframe {
  width: 100%;
  min-height: 350px;
}
