:root {
  --color-dark: #000;
  --color: #121c42;
  --color-light: #121c4299;
  --color-inversed: #effbec;
  --color-inversed60: #effbec99;
  --color-transparent: #{rgba(#121c42, 0)};
  --contrast: #4869ee;
  --contrast25: #4869ee3f;
  --gap: 20px;
  --space: 8px;
  --border: #d5e3ec;
  --border-light: #e6eff4;
  --background: #f7fafb;
  --background-light: #fff;
  --shadow: #d8e1e8;
  --list-hover: var(--background);
  --play: #f3f9fb; // Couleur de fond du bouton play
--space-section: 150px;
  --card-footer: #f7fafd;
  --card-padding: 16px;
  --header-height: 137px;
  --red: #f25353;
  --green: #41cf7c;
  --yellow: #feb32b;
  --yellow-alpha: #feb32b4c;
  --skeleton: var(--border-light);
  --skeleton-wave: var(--border-light);
  --selection-background: var(--border);
  --header-background: #FFFFFFF2;
  --header-background-inversed: #4869eeF2;
}

body {
  font-family: sans-serif;
  color: var(--color);
}


aside,
form,
.icon,
.hidden-print {
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid var(--border);
}

th {
  text-align: left;
  border-width: 2px;
}

th {
  padding: 5px 0;
}

td {
  padding: 10px 0;
}

