<section class="stack" style="--gap:1">
  <div class="flex">
    <h1 class="dashboard-title">
      {{ icon('comments') }} Derniers commentaires
    </h1>
    {{ paginate_nav(comments) }}
  </div>
  <div class="dashboard-card stack-separated">
    {% for comment in comments %}
      {% include 'admin/comment/_comment.html.twig' %}
    {% endfor %}
  </div>
</section>
