:root {
  color-scheme: light dark;
  --title: light-dark(#121c42, #f0f3ff);
  --text: light-dark(
    color-mix(in oklab, var(--title) 85%, transparent),
    #adbef3
  );
  --muted: light-dark(
    color-mix(in oklab, var(--title) 60%, transparent),
    #8491c7
  );
  --primary: light-dark(#4869ee, #5396e7);
  --primary-foreground: #effbec;
  --background: light-dark(#f7fafb, #171933);
  --background-light: light-dark(#fff, #1b1e3d);
  --card: light-dark(#fff, #22244d);
  --white: #fff;
  --card-footer: color-mix(in oklab, var(--background) 50%, transparent);
  --border: light-dark(#d5e3ec, #2a2e5e);
  --destructive: #f25353;
  --destructive-foreground: #fff3f3;
  --green: light-dark(#2aa75e, #41cf7c);
  --yellow: light-dark(#f49f01, #feb32b);
  --edge: light-dark(#acb8c0, #595e9d);
  --overlay: #000000b3;

  --success-bg: light-dark(hsl(143, 85%, 96%), hsl(150, 100%, 6%));
  --success-border: light-dark(hsl(145, 92%, 87%), hsl(147, 100%, 12%));
  --success-text: light-dark(hsl(140, 100%, 27%), hsl(150, 86%, 65%));
  --info-bg: light-dark(hsl(208, 100%, 97%), hsl(215, 100%, 6%));
  --info-border: light-dark(hsl(221, 91%, 93%), hsl(223, 43%, 17%));
  --info-text: light-dark(hsl(210, 92%, 45%), hsl(216, 87%, 65%));
  --warning-bg: light-dark(hsl(49, 100%, 97%), hsl(64, 100%, 6%));
  --warning-border: light-dark(hsl(49, 91%, 84%), hsl(60, 100%, 9%));
  --warning-text: light-dark(hsl(31, 92%, 45%), hsl(46, 87%, 65%));
  --error-bg: light-dark(hsl(359, 100%, 97%), hsl(358, 76%, 10%));
  --error-border: light-dark(hsl(359, 100%, 94%), hsl(357, 89%, 16%));
  --error-text: light-dark(hsl(360, 100%, 45%), hsl(358, 100%, 81%));
  --video: #121c42;
  --sidebar: light-dark(#fbfcfd, #1e1f3f);
  --list-hover: color-mix(in srgb, var(--primary) 8%, transparent);
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
