.mdxeditor {
  --accentBase: var(--text);
  --accentBgSubtle: var(--text);
  --accentBg: var(--text);
  --accentBgHover: var(--text);
  --accentBgActive: var(--text);
  --accentLine: var(--text);
  --accentBorder: var(--text);
  --accentBorderHover: var(--text);
  --accentSolid: var(--text);
  --accentSolidHover: var(--text);
  --accentText: var(--text);
  --accentTextContrast: var(--text);

  --baseBase: var(--text);
  --baseBgSubtle: var(--text);
  --baseBg: var(--background);
  --baseBgHover: var(--text);
  --baseBgActive: var(--text);
  --baseLine: var(--text);
  --baseBorder: var(--text);
  --baseBorderHover: var(--text);
  --baseSolid: var(--text);
  --baseSolidHover: var(--text);
  --baseText: var(--text);
  --baseTextContrast: var(--text);

  --admonitionTipBg: var(--text);
  --admonitionTipBorder: var(--text);

  --admonitionInfoBg: var(--text);
  --admonitionInfoBorder: var(--text);

  --admonitionCautionBg: var(--text);
  --admonitionCautionBorder: var(--text);

  --admonitionDangerBg: var(--text);
  --admonitionDangerBorder: var(--text);

  --admonitionNoteBg: var(--text);
  --admonitionNoteBorder: var(--text);

  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  color: var(--text);
  --basePageBg: transparent;
  background: transparent;

  div[contenteditable] {
    padding: 0;
  }
}
