@import 'tailwindcss';
@import './form.css';
@import './flow.css';
@import './utility.css';
@import './prose.css';
@import './scrollbar.css';
@import './code.css';
@import './components/input.css';
@source "../../resources/js/components/flow/";
@source "../../resources/js/elements/";
@source "../../resources/views/";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Crimson Pro', serif;
    --font-mono: monospace;
    --color-*: initial;
    --color-foreground-title: #121c42;
    --color-foreground: color-mix(
        in oklab,
        var(--color-foreground-title) 85%,
        transparent
    );
    --color-muted: color-mix(
        in oklab,
        var(--color-foreground-title) 60%,
        transparent
    );
    --color-primary: #4869ee;
    --color-primary-foreground: #effbec;
    --color-background: #f7fafb;
    --color-background-light: #fff;
    --color-card: #fff;
    --color-border: #d5e3ec;
    --color-destructive: #f25353;
    --color-destructive-foreground: #fff3f3;
    --color-green: #41cf7c;
    --color-yellow: #feb32b;
    --color-edge: #acb8c0;
    --color-overlay: #000000b3;

    --dark: #000;
    --olor: #121c42;
    --light: #121c4299;
    --inversed: #effbec;
    --inversed60: #effbec99;
    --transparent: #{rgba(#121c42, 0)};
    --contrast: #4869ee;
    --contrast25: #4869ee3f;
    --gap: 20px;
    --space: 8px;
    --border: #d5e3ec;
    --border-light: #e6eff4;
    --background-light: #fff;
    --shadow: #d8e1e8;
    --list-hover: var(--background);
    --play: #f3f9fb;
    --space-section: 150px;
    --card-footer: #f7fafd;
    --card-padding: 16px;
    --header-height: 137px;
    --yellow-alpha: #feb32b4c;
    --skeleton: var(--border-light);
    --skeleton-wave: var(--border-light);
    --selection-background: var(--border);
    --header-background: #fffffff2;
    --header-background-inversed: #4869eef2;
    --video-background: var(--color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground-title: #f0f3ff;
        --color-foreground: #d4dcff;
        --color-muted: #8491c7;
        --color-primary: #5396e7;
        --color-primary-foreground: #effbec;
        --color-background: #171933;
        --color-background-light: #1b1e3d;
        --color-card: #22244d;
        --color-border: #2a2e5e;
        --color-destructive: #f25353;
        --color-destructive-foreground: #fff3f3;
        --color-green: #41cf7c;
        --color-yellow: #feb32b;
        --color-edge: #595e9d;
    }
}

@layer base {
    button,
    a {
        cursor: pointer;
    }
    dialog {
        border: none;
        outline: none;
    }
    hr {
        border: none;
        margin: 0;
        height: auto;
        display: block;
    }
    * {
        border-color: var(--color-border);
        outline-color: var(--ring);
    }
    mark {
        padding: 2px 4px;
        border-radius: 2px;
        background: var(--color-primary);
        color: var(--color-primary-foreground);
    }
    *:focus-visible {
        outline: solid 2px var(--color-primary);
    }
}

.react-flow__handle {
    pointer-events: none !important;
    opacity: 0 !important;
}
