@import "tailwindcss";
@import "./form.css";
@import "./flow.css";
@import "./utility.css";
@import "./prose.css";
@import "./scrollbar.css";
@import "./code.css";
@import "./wobbly-dialog.css";
@import "./animation.css";
@import "./colors.css";
@import "./editor.css";
@source "../../resources/js/components/flow/";
@source "../../resources/js/elements/";
@source "../../resources/views/";

@theme inline {
  --container-*: initial;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Crimson Pro", serif;
  --font-mono: monospace;

  --color-*: initial;
  --color-foreground-title: var(--title);
  --color-foreground: var(--text);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted);
  --color-primary: var(--primary);
  --color-ring: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-card: var(--card);
  --color-popover: var(--card);
  --color-white: var(--white);
  --color-card-footer: var(--card-footer);
  --color-border: var(--border);
  --color-secondary: var(--background);
  --color-secondary-foreground: var(--muted);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--green);
  --color-warning: var(--yellow);
  --color-edge: var(--edge);
  --color-overlay: var(--overlay);

  --color-success-bg: var(--success-bg);
  --color-success-border: var(--success-border);
  --color-success-text: var(--success-text);
  --color-info-bg: var(--info-bg);
  --color-info-border: var(--info-border);
  --color-info-text: var(--info-text);
  --color-warning-bg: var(--warning-bg);
  --color-warning-border: var(--warning-border);
  --color-warning-text: var(--warning-text);
  --color-error-bg: var(--error-bg);
  --color-error-border: var(--error-border);
  --color-error-text: var(--error-text);
  --color-video: var(--video);
  --color-sidebar: var(--sidebar);
  --color-list-hover: var(--list-hover);

  --shadow-focus: 0 0 0 3px
    color-mix(in srgb, var(--color-primary) 25%, transparent);
  --shadow-success: 0 0 0 3px color-mix(in srgb, var(--green) 25%, transparent);
  --shadow-destructive: 0 0 0 3px
    color-mix(in srgb, var(--color-destructive) 25%, transparent);
  --shadow-toast: 0 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-button: 0 1px 2px #24398d66;
  --default-transition-duration: 300ms;
  --header-height: 60px;
  --breakpoint-3xl: 105rem;
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }
  label {
    display: block;
  }
  button,
  a {
    cursor: pointer;
  }
  dialog {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
  }
  hr {
    border: none;
    margin: 0;
    height: auto;
    display: block;
  }
  * {
    border-color: var(--color-border);
    outline-color: var(--ring);
  }
  mark {
    padding: 2px 4px;
    border-radius: 2px;
    background: var(--color-primary);
    color: var(--color-primary-foreground);
  }
  *:focus-visible {
    outline: solid 2px var(--color-primary);
  }
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  media-play-button,
  media-time-display,
  media-mute-button,
  media-fullscreen-button,
  media-pip-button {
    padding: 10px;
  }
}

.react-flow__handle {
  pointer-events: none !important;
  opacity: 0 !important;
}
