@custom-variant dark (&:is(.dark *));
@custom-variant selected (&[selected],
&[aria-selected="true"]);
@custom-variant drawer-visible (&[data-drawer="visible"],
body[data-drawer="visible"] &);
@custom-variant drawer-hidden (&[data-drawer="hidden"],
body[data-drawer="hidden"] &);

/**
 * Layout
 */
@utility grid-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(--value(integer) * 1px), 1fr)
  );
}
@utility stack {
  display: grid;
  place-items: center;
  & > * {
    grid-area: 1 / 1;
  }
}

@utility overlay {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }
}

@utility container {
  max-width: unset;
  width: 100%;
  --width: 1330px;
  padding-inline: calc(50% - min(calc(100% - 2rem), var(--width)) * 0.5);
}

@utility max-w-container {
  max-width: min(calc(100% - 2rem), 1330px);
}

@utility text-trim {
  text-box: trim-both cap alphabetic;
}

@utility text-page-title {
  font-size: var(--text-6xl);
  line-height: var(--text-6xl--line-height);
  font-family: var(--font-serif);
  font-weight: 700;
  color: var(--color-foreground-title);
}

@utility card-stacked {
  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: 0.3s;
    background-color: var(--color-card);
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-xs);
    border-radius: var(--radius-lg);
  }
  &::after {
    transform: translate(6px, 6px);
  }
  &::before {
    transform: translate(0px, 0px);
  }
  &:hover::after {
    transform: translate(6px, 6px) rotate(3deg);
  }
  &:hover::before {
    opacity: 1;
    transform: translate(0px, 0px) rotate(-3deg);
  }
}

@utility animate-live {
  animation: live-running 3s infinite linear;
}

@keyframes live-running {
  0% {
    color: var(--color-destructive);
  }
  30% {
    color: var(--color-destructive);
  }
  50% {
    color: inherit;
  }
  70% {
    color: var(--color-destructive);
  }
  100% {
    color: var(--color-destructive);
  }
}

@utility table {
  th {
    font-weight: 300;
    font-size: 0.9em;
    text-align: left;
    color: var(--color-muted);
  }
  td {
    padding: 1rem 0;
  }
  tbody tr {
    border-bottom: 1px solid var(--color-border);
  }
}

@utility list-big {
  li + li {
    margin-top: 0.5rem;
  }
  li {
    display: flex;
    gap: 0.5rem;
  }
  li a:hover {
    text-decoration: underline;
  }
  li::before {
    transform: translateY(5px);
    content: "";
    display: inline-block;
    width: 15px;
    flex: none;
    height: 15px;
    border-radius: 15px;
    background: currentColor;
    border: 5px solid var(--background-light);
    margin-right: calc(1 * var(--space));
  }
}
