.input-attachment {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100px;
  border: solid 1px var(--border);
  background: var(--background);
  transition: .2s;
}

.input-attachment::after {
  content:'';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  opacity: .06;
  background: url(../../images/upload.svg) center center / 100% 100% no-repeat;
}

.input-attachment.is-hovered {
  background-color: var(--contrast);
  .input-attachment__preview {
    opacity: .6;
  }
}

.input-attachment__preview {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: transparent center center / cover no-repeat;
  transition: .2s;
}

.input-attachment__loader {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color);
}
