.breadcrumb {
  height: space(6);
  color: var(--color-light);
  font-size: 0.8em;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
}
.breadcrumb > * {
  flex: none;
}
.breadcrumb svg {
  width: 16px;
  height: 16px;
}
.breadcrumb span, .breadcrumb a {
  white-space: nowrap;
}
.breadcrumb a:hover span {
  color: var(--color);
  text-decoration: underline;
}
