.breadcrumb {
  height: space(6);
  color: var(--color-light);
  font-size: 0.8em;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
}
.breadcrumb > * {
  flex: none;
}
.breadcrumb svg {
  width: 16px;
  height: 16px;
}
.breadcrumb-separator {
  margin-left: 4px;
  margin-right: 4px;
}
.breadcrumb span, .breadcrumb a {
  white-space: nowrap;
}
.breadcrumb a:hover {
  color: var(--color);
  text-decoration: underline;
}

.wave-header .breadcrumb,
.is-inversed .breadcrumb {
  color: var(--color-inversed);
  opacity: .6;
  margin-top: -15px;
  margin-bottom: -5px;

  a:hover {
    color: inherit;
  }
}
