.btn-gradient {
  padding: 10px 16px;
  border: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%) var(--contrast);
  box-shadow: 0px 1px 2px rgba(36, 57, 141, 0.4);
  border-radius: 4px;
  font-family: $font-alt;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  transition: background .3s;

  &:hover {
    background: var(--contrast);
  }
}
.btn-big {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--contrast);
  padding: 12px 16px;
  color: var(--contrast);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  font-family: $font-alt;
  transition: .3s;

  @include up(1100) {
    font-size: 18px;
  }

  &:hover {
    color: var(--color-btn);
    background-color: var(--contrast);
  }

  .icon {
    display: block;
    transform: translateY(-1px);
    margin-right: space(2);
    width: 16px;
    height: 16px;
  }
}
