.bg {
  background: var(--background);
}

.bg-contrast {
  background-color: var(--contrast);
}

.bg-light {
  background: var(--background-light);
}

.text-inversed {
  color: var(--color-inversed);
}

.transparent {
  background-color: transparent !important;
}
