// Espacements
// ==========================================================================
.comment-area {
  margin-top: space(10);
}
.comment-area > * + * {
  margin-top: space(6);
}
.comment-list > * + * {
  margin-top: space(5);
}
.comments__title + * {
  margin-top: space(2);
}

// Titre
// ==========================================================================
.comments__title {
  @extend %h2;
  @extend %underlined;
}

// Commentaire
// ==========================================================================
.comment {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr;
  grid-row-gap: space(1);
  grid-column-gap: space(2);
  grid-template-areas: 'avatar meta' 'content content' 'replies replies';
}
.comment.without-avatar {
  grid-template-columns: 1fr;
}
.comment.is-loading {
  opacity: 0.6;
}
.comment__author {
  font-family: $font-alt;
  font-weight: bold;
}
.comment__author a:hover {
  color: var(--contrast);
}
.comment__avatar {
  grid-area: avatar;
  width: 100%;
  height: auto;
  border-radius: 50px;
}
.comment__content {
  grid-area: content;

  p {
    white-space: pre-wrap;
  }
}
.comment__actions {
  transition: opacity 0.3s;
  font-size: 0.9em;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  opacity: 0.6;

  @include down(700) {
    & > *:first-child {
      width: 100%;
      flex: none;
      text-align: left;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    margin-right: space(1);
    border-radius: 3px;
  }

  span {
    margin-right: space(1);
  }

  a:hover {
    background-color: var(--background-light);
    text-decoration: underline;
  }
}
.comment__replies {
  grid-area: replies;
  margin-left: 10px;
  padding-left: 30px;
  border-left: 1px solid var(--border);

  & > * {
    margin-top: space(3);
  }
}
.comment__loader {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  right: 0;
  bottom: 0;
  color: var(--contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.comment svg {
  display: block;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.comment .comment__delete {
  svg {
    transform: none;
  }
}

@media (hover: hover) {
  .comment__actions .comment__date {
    opacity: 1;
  }
  .comment__actions a {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .comment:hover .comment__actions a {
    opacity: 1;
  }
}
