@import "../tools/functions";

.filemanager {
  box-shadow: 0 1px 4px rgba(212, 212, 212, 0.2);
  border-radius: 8px;
  border: 1px solid #ebeced;
  background-color: #fefefe;
  font-size: 16px;
  display: grid;
  grid-template-columns: 278px 1fr;
}

.filemanager hr {
  border: none;
  margin-top: space(3);
  margin-bottom: space(3);
  height: 1px;
  background-color: #f0f0f6;
}

.filemanager aside {
  padding: space(4);
}

.bloc__title {
  color: #6f6f85;
  font-size: 14px;
  font-weight: 300;
}

