.formatted {

  details > summary{
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: var(--contrast);
    }
  }

  pre {
    margin: 2em 0;
  }

  p, ul, ol {
    margin-top: 1rem;
    margin-bottom: 30px;
  }

  p:first-child {
    margin-top: 0px !important;
  }

  h1, h2, h3 {
    font-family: $font-alt;
    font-weight: bold;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    @extend %h2;
    padding-top: 31px;
    margin-bottom: 2px;
  }
  h3 {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    margin-top: space(2);
    margin-bottom: 2px;
  }
  h4 {
    margin-top: space(2);
  }

  pre {
  }

  ul {
    list-style: disc;
    padding-left: 19px;
  }

  ol {
    list-style: decimal;
    padding-left: 19px;
  }

  figure {

    padding: 0;
    margin: 30px;
    display: inline-block;
    position: relative;

    &.left {
      margin-left: 0;
      margin-top: 0;
      img {
        max-width: 275px;
      }
    }

    &.right {
      margin-right: 0;
      margin-top: 0;
      img {
        max-width: 275px;
      }
    }

    img {
      border: 4px solid #eeeeee;
      display: block;
      width: 100%;
      &[src$=".png"], &[src$=".svg"] {
        border: none;
      }
    }

  }
}
