.formatted:not[style^="display"] {
  display: block !important;
}

.formatted {
  strong {
    font-weight: bold;
  }

  blockquote {
    border-left: 5px solid var(--border-light);
    color: var(--color-light);
    padding-left: 1rem;
    margin-left: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: var(--contrast);
    }
  }

  pre {
    margin: 2em 0;
    overflow: auto;
    border: 1px solid var(--border-light);

    @include up(1400) {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  p,
  ul,
  ol {
    margin-top: 1rem;
    margin-bottom: 30px;
  }

  p, ul, ol {
    line-height: 1.6;
  }

  p:first-child {
    margin-top: 0px !important;
  }

  h1,
  h2,
  h3 {
    color: var(--color-dark);
    font-family: $font-alt;
    font-weight: bold;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    @extend %h2;
    margin-top: space(5);
    margin-bottom: 2px;
  }

  h3 {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    margin-top: space(2);
    margin-bottom: 2px;
  }
  h4 {
    margin-top: space(2);
  }

  ul {
    list-style: disc;
    padding-left: 19px;
  }

  ol {
    list-style: decimal;
    padding-left: 19px;
  }

  img {
    max-width: 990px;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 990px) {
      max-width: 100vw;
    }
  }

  figure {
    padding: 0;
    margin: 30px;
    display: inline-block;
    position: relative;

    &.left {
      margin-left: 0;
      margin-top: 0;
      img {
        max-width: 275px;
      }
    }

    &.right {
      margin-right: 0;
      margin-top: 0;
      img {
        max-width: 275px;
      }
    }

    img {
      border: 4px solid #eeeeee;
      display: block;
      &[src$='.png'],
      &[src$='.svg'] {
        border: none;
      }
    }
  }
  
  p > code,
  li > code {
    display: inline-block;
    background: #1b1e3d;
    color: #A9B1D6;
    padding:0 .2em;
    /*
    border: solid 1px var(--border);
    background-color: var(--border-light);
    color: var(--color-light);
    */
  }
}
