.header {
  @extend %container-margin;
  position: relative;
  font-family: $font-alt;
  font-weight: 500;
  line-height: 1;
  margin-top: space(6);
  padding-bottom: space(3);
  margin-bottom: space(6);
  z-index: 5;

  &::after {
    content:'';
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border);
    height: 1px;
  }
}
.header.is-inversed {
  color: var(--color-inversed);
  border-bottom-color: var(--color-inversed);

  a {
    opacity: .6;
  }

  a:hover, a[aria-current] {
    color: var(--color-inversed);
    opacity: 1;
  }

  &::after {
    opacity: .3;
    background: var(--color-inversed);
  }
}
.header svg {
  width: 12px;
  height: 12px;
  margin-right: space(1);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul {
  display: flex;
  align-items: center;
}
.header-nav li {
  display: block;
}
.header-nav a:hover,
.header-nav a[aria-current] {
  color: var(--contrast);
}
.header-nav > * + * {
  margin-left: space(6);
}
.header__home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 16px;
  border-right: 1px solid currentColor;
  margin-right: space(2);
  padding-right: space(1);
}
.header__home + li {
  margin-left: 0;
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 16px;
  border-right: 1px solid currentColor;
  margin-right: space(2);
  padding-right: space(1);
}

.header__notification .icon,
.header__notification > button {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 0;
}
.header__notification {
  position: relative;
  margin-right: calc(2 * var(--space));
  padding-right: calc(1 * var(--space));
}

@include down(800) {
  .header {
    display: none;
  }
}

// Déclinaison bleu
// =============
.header-filled {
  background: #415EDE;
  margin: 0 !important;
  padding-bottom: 0 !important;
  width: 100% !important;
  height: 75px;
  color: #FFF;
  @extend %container;

  &::after {
    display: none !important;
  }

  .header-nav,
  .header-side {
    a {
      position: relative;
      padding-left: 7px;
      opacity: 1;

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: -4px;
        left: 0px;
        width: 26px;
        height: 26px;
        padding: 3px;
        background-color: #2D47B8;
        border-radius: 18px;
        z-index: 2;
      }
    }
    .icon {
      z-index: 3;
      position: relative;
      margin-right: space(1);
      filter: drop-shadow( 0px 1px 1px rgba(0, 0, 0, .4))
    }
    a[aria-current] {
      opacity: 1;
      color: #FFF!important;
    }
  }

  .header__home a::after {
    display: none;
  }

  .header__home,
  .header__search {
    border-color: #2D47B8;
  }

}
