.header {
  @extend %container;
  position: relative;
  font-family: $font-alt;
  font-weight: 500;
  line-height: 1;
  padding-top: space(6);
  padding-bottom: space(3);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border);
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    height: 1px;
  }
}

.header-light .header {
  background-color: var(--background-light);
}

.header.is-inversed:not(.is-open) {
  color: var(--color-inversed60);
  --border: var(--color-inversed60);

  a:hover,
  a[aria-current],
  button:hover {
    color: var(--color-inversed);
    opacity: 1;
  }

  &::after {
    opacity: 0.3;
  }

}
.header svg {
  width: 12px;
  height: 12px;
  margin-right: space(1);
}
.header ul {
  display: flex;
  align-items: center;
}
.header-nav {
  height: 26px;
  margin-top: -5px;
  margin-bottom: -5px;
  flex-wrap: wrap;
  overflow: hidden;
}
.header-nav small {
  font-weight: normal;
}
.header-nav li {
  display: flex;
  align-items: center;
  height: 26px;
  white-space: nowrap;
}
.header-nav li[hidden] {
  display: none;
}
.header-nav .icon-star {
  width: 14px;
  height: 14px;
  margin-bottom: -1px;
}
.header a:hover,
.header button:hover,
.header a[aria-current] {
  color: var(--contrast);
}
.header-nav > * + * {
  margin-left: space(6);
}
.header-side {
  margin-right: space(-2);
  margin-left: space(2);
}
.header-side > li {
  margin-right: space(2);
}
.header-side__auth {
  white-space: nowrap;
}
.header .header__home {
  display: flex;
  align-items: center;
  height: 16px;
  justify-content: flex-start;
  border-right: 1px solid var(--border);
  margin-right: space(2);
  padding-right: space(1);
  margin-top: 5px;
  margin-bottom: 5px;

  a {
    margin-top: -5px; // On rend le lien plus grand que le container pour le rendre plus facilement clickable
    height: 26px;
    display: flex;
    align-items: center;
  }
}
.header__home + li {
  margin-left: 0;
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 16px;
  border-right: 1px solid var(--border);
  padding-right: space(1);
}
.header__account a {
  display: flex;
}
.header__account span {
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header__account svg {
  display: block;
  align-self: center;
}
.header__notification .icon,
.header__notification > button {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 0;
}
.header__notification {
  position: relative;
  padding-right: calc(1 * var(--space));

  button {
    display: block;
  }
}
.header__logout {
  span {
    display: none;
  }
  svg {
    margin-right: 0;
  }
}
.header__burger {
  display: none;
  margin-left: space(1);
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
  }
  span::after, span::before, span {
    content:'';
    display: block;
    width:12px;
    height: 2px;
    background: currentColor;
    position: relative;
    transition: .3s;
    transition-property: top, bottom, transform;
  }
  span::after {
    top:-6px;
  }
  span::before {
    bottom:-4px;
  }
  span {
    font-size: 0;
    text-indent: -3000px;
  }
}

// Déclinaison fixed
// =============
.header.is-fixed + .header-placeholder {
  height: 72px;
}
.header.is-fixed {
  padding-top: space(3)!important;
  position: fixed;
  background: var(--header-background);
  transition: transform .3s;

  &::after {
    max-width: 100%;
    background: var(--border-light);
  }
}
.header.is-hidden {
  transform: translateY(-100%);
}
.header.is-fixed.is-inversed {
  background: var(--header-background-inversed);
}

@media (max-height: 700px) {
  .header {
    padding-top: space(4);
  }
}

@include down(985) {
  .header-nav > * + * {
    margin-left: space(4);
  }
  .header-side__auth {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header {
    padding-top: space(4);
  }
  .header .header-nav li:last-child {
    display: none;
  }
  .header .header-nav .header__home {
    display: block;
    border: none !important;
  }
  .header.is-open {
    color: var(--color);
    // Override .is-fixed
    position: relative;
  }
  .header.is-open a{
    opacity: 1;
    color: var(--color) !important;
  }
  .header.is-open a:hover,
  .header.is-open a[aria-current] {
    opacity: 1;
    color: var(--contrast) !important;
  }
  .header.is-open .header-nav {
    display: grid;
    grid-gap: space(4);
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.90);
    border: 1px solid var(--border);
    box-shadow: 0 2px 4px var(--shadow);
    border-radius: 3px;
    transition: opacity .3s;
    z-index: 3;
    backdrop-filter: blur(10px);
    padding: space(2);

    @include dark {
      background: #171933D8;
    }

    & li {
      display: block!important;
      width: 200px;
      margin-left: 0 !important;
      animation: slideIn .5s both;
      font-size: 1.3rem;
      animation-delay: .3s
    }

    .header__home {
      display: none!important;
    }

    @for $i from 1 through 6 {
      & li:nth-child(#{$i}) {
        animation-delay: .05s * $i;
      }
    }
  }
  .header.is-open .header-side__auth {
    display: block;
    white-space: nowrap;
  }
  .header.is-open .header__search {
    display: none;
  }
  .header.is-open .header-side {
    position: fixed;
    top: space(3);
    right: space(2);
    z-index: 4;
  }
  .header.is-open .header__account span {
    display: block;
  }
  .header.is-open .header__burger {
    span::after {
      top: -2px;
      transform: rotate(0deg);
    }
    span {
      transform: rotate(-135deg);
    }
    span::before {
      bottom: 0;
      transform: rotate(-90deg);
    }
  }
}

@include down(600) {
  .header__account span {
    display: none;
  }
}

