.header {
  @extend %container-margin;
  font-family: $font-alt;
  font-weight: 500;
  line-height: 1;
  margin-top: space(6);
  padding-bottom: space(3);
  border-bottom: 1px solid var(--border);
  margin-bottom: space(6);
  position: relative;
  z-index: 5;
}
.header.is-white {
  color: rgba(255, 255, 255, .60);
  border-bottom-color: rgba(255, 255, 255, .30);

  a:hover, a[aria-current] {
    color: #FFF;
  }
}
.header svg {
  width: 12px;
  height: 12px;
  margin-right: space(1);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul {
  display: flex;
  align-items: center;
}
.header-nav li {
  display: block;
}
.header-nav a:hover,
.header-nav a[aria-current] {
  color: var(--contrast);
}
.header-nav > * + * {
  margin-left: space(6);
}
.header__home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 16px;
  border-right: 1px solid currentColor;
  margin-right: space(2);
  padding-right: space(1);
}
.header__home + li {
  margin-left: 0;
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 16px;
  border-right: 1px solid currentColor;
  margin-right: space(2);
  padding-right: space(1);
}
@include down(800) {
  .header {
    display: none;
  }
}

// Misc
// ==================
// Element permettant de passer sous le header
.sub-header {
  position: relative;
  margin-top: calc(var(--header-height) * -1);
  padding-top: calc(var(--header-height) + 40px);
}
