.hljs {
  display: block;
  overflow-x: auto;
  font-size: 0.9em;
  background: var(--background-light);
  box-shadow: 0px 0px 2px var(--shadow);
  color: var(--base);
  padding: 1rem;

  --base:  #A9B1D6;
  --comment:  #5D6791;
  --variables: #BB9AF7;
  --number: #FD914E;
  --attribute: #FD914E;
  --string: #9ECE6A;
  --title: #7AA2F7;
  --keyword: #BB9AF7;
  --background-light: #1b1e3d;

  @include dark {
    --background-light: #0000004C;
    border: solid 1px var(--border-light);
  }
}

.hljs-comment,
.hljs-quote {
  color: var(--comment);
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--variables);
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--number);
}

.hljs-attribute {
  color: var(--attribute);
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--string);
}

.hljs-title,
.hljs-section {
  color: var(--title);
}

.hljs-keyword,
.hljs-selector-tag {
  color: var(--keyword);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight;
  }
  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold;
  }
}
