// List séparé par un -
// =============
.list-group > * {
  position: relative;
  display: block;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--border);
  transition: 0.3s;

  &:first-child {
    border-top: 1px solid var(--border);
  }

  &:hover {
    padding-left: space(1);
    background: var(--background-light);
  }
}

// Liste avec une connexion sur le côté
// =============
.list-cursus {
  @extend %stack;
  --gap: 3;
  padding-left: 50px;
  @include dark {
    --border-light: var(--border);
  }
}
.list-cursus > * {
  position: relative;
}
.list-cursus > *::before,
.list-cursus > *::after {
  content: '';
  position: absolute;
  background-color: var(--border-light);
}
.list-cursus > *::before {
  top: 0;
  bottom: 0;
  width: 8px;
  left: -43px;
}
.list-cursus > *::before {
  top: 0;
  bottom: -40px;
  width: 8px;
  left: -43px;
}
.list-cursus > *:first-child::before {
  top: 50%;
}
.list-cursus > *:last-child::before {
  bottom: 50%;
}
.list-cursus > *::after {
  display: block;
  width: 27px;
  height: 27px;
  top: calc(50% - 13px);
  left: -52px;
  border-radius: 50%;
}
.list-cursus > .is-completed::before {
  background-color: var(--contrast);
}
.list-cursus > .is-completed + *:not(.is-completed)::before {
  background: linear-gradient(to bottom, var(--contrast), var(--border-light)) top left / 100% 45px no-repeat var(--border-light);
}
.list-cursus > .is-completed::after {
  background-color: var(--contrast);
  // background: url(/images/check.svg) center center / 14px 14px no-repeat var(--contrast);
}
