modal-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;

  opacity: 1;
  transition: 0.3s;
}

.modal-box {
  width: 430px;
  max-width: calc(100vw - 40px);
  background-color: var(--background-light);
  border: solid 1px var(--border);
}

modal-dialog[hidden] {
  opacity: 0;
  transform: scale(1.05);
  pointer-events: none;
}
.modal-close {
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 10px;
  border: none;
  cursor: pointer;
}
modal-dialog .card {
  position: relative;
  max-width: 500px;
  width: calc(100vw - 40px);
  animation: 0.4s slideIn both;
}



modal-box,
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000A5;
  overflow: auto;
  animation: .5s fadeIn both;
}

modal-box.is-closing,
 .modal.is-closing {
   animation: .5s fadeOut both;
 }

modal-box > *,
.modal > * {
  animation: .4s slideIn both;
}

modal-box.is-closing > *,
.modal.is-closing > * {
  animation: .4s slideOut both;
}

file-manager {
  width: 900px;
  max-height: 600px;
  height: calc(100% - #{space(3)});
  max-width: calc(100% - #{space(3)});
}
