modal-box,
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000A5;
  overflow: auto;
  animation: .5s fadeIn both;
}

modal-box.is-closing,
 .modal.is-closing {
   animation: .5s fadeOut both;
 }

modal-box > *,
.modal > * {
  animation: .4s slideIn both;
}

modal-box.is-closing > *,
.modal.is-closing > * {
  animation: .4s slideOut both;
}

file-manager {
  width: 900px;
  max-height: 600px;
  height: calc(100% - #{space(3)});
  max-width: calc(100% - #{space(3)});
}
