.nav-pills {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: var(--contrast);
}
.nav-pills a {
  padding: space(1) space(2);
  border: 2px solid var(--contrast);
  border-right: none;
  border-radius: 30px 0 0 30px;
}
.nav-pills a:last-child {
  border-radius: 0 30px 30px 0;
  border-right: 2px solid var(--contrast);
}

.nav-pills a[aria-selected="true"] {
  background: var(--contrast);
  color: var(--color-inversed);
}
.nav-pills a:focus,
.nav-pills a:hover {
  outline: none;
  color: var(--color-inversed);
  background: var(--contrast) linear-gradient(to top, #FFFFFF26, #FFFFFF26);
}

// Animation pour les onglets
// =================
[role="tabpanel"] {
  transition: .5s;
}

[role="tabpanel"][hidden] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block !important;
  opacity: 0;
  transition: .5s;
  transform: translateY(30px);
  pointer-events: none;
}
