.notification-badge {
  position: absolute;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-color: #e00101;
  border: 2px solid var(--background-light);
  color: #fff;
  text-align: center;
  border-radius: 12px;
  top: -5px;
  right: 0;
  pointer-events: none;
}

// Notifications
// =============
.notifications {
  @extend %card;
  color: var(--color);
  position: absolute;
  left: calc(50% - 150px);
  top: calc(100% + 20px);
  width: 300px;
  z-index: 100;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
}

.notifications::after,
.notifications::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: calc(50% - 6px);
  width: 0;
  height: 0;
  z-index: 1;
  border-bottom: 10px solid var(--card-bg, var(--background-light));
  border-right: 10px solid #0000;
  border-left: 10px solid #0000;
}
.notifications::before {
  top: -11px;
  border-bottom-width: 11px;
  border-left-width: 12px;
  border-right-width: 12px;
  right: calc(50% - 8px);
  z-index: -1;
  border-bottom-color: var(--border);
}
.notifications_body {
  max-height: 300px;
  overflow: auto;
  font-family: $font;
}
.notifications_body-empty {
  display: block;
  color: var(--color-light);
  text-align: center;
  padding: space(2) 0;
  font-weight: normal;
  font-style: italic;
}
.notifications_title {
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: space(1.5) 0;
  border-bottom: 1px solid var(--border-light);
}
.notifications_title button {
  position: absolute;
  top: 50%;
  right: space(2);
  transform:translateY(-50%);
  display: none;
  width: 11px;
  height: 11px;
  .icon {
    width: 100%;
    height: 100%;
  }
}
.notifications_item {
  font-weight: 400;
  display: block;
  padding: space(2);
  position: relative;
  border-bottom: 1px solid var(--border-light);

  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
}
.notifications_item:hover {
  background-color: var(--background);
  opacity: 1 !important;
}
.notifications_item.is-read {
  opacity: 0.65;
}
.notifications_avatar {
  width: 32px;
  height: 32px;
  margin-right: 13px;
  border-radius: 32px;
}
.notifications_text strong {
  font-weight: bold;
}
.notifications_footer {
  border-top: 1px solid var(--border-light);
  text-align: center;
  display: block;
  padding: space(1.5) 0;

  &:hover {
    color: var(--color-dark) !important;
    background-color: var(--background);
  }
}

@include down(700) {
  .notifications {
    position: fixed;
    max-width: 100%;
    top: 0;
    left: auto;
    right: 0;
  }
  .notifications::after,
  .notifications::before {
    display: none;
  }
  .notifications_body {
    height: calc(var(--windowHeight) - 90px);
    max-height: calc(var(--windowHeight) - 90px);
  }
  .notifications_title button {
    display: block;
  }
}
