.notification-badge {
  position: absolute;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-color: #E00101;
  border: 2px solid var(--background-light);
  color: #FFF;
  text-align: center;
  border-radius: 12px;
  top: -5px;
  right: 0;
  pointer-events: none;
}

// Notifications
// =============
.notifications {
  @extend %card;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(100% + 20px);
  width: 300px;
  z-index: 100;
  background-color: var(--background-light);
  color: #6d7a8b;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
}
.notifications_body::after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: calc(50% - 10px);
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-right: 10px solid #0000;
  border-left: 10px solid #0000;
}
.notifications_title {
  text-align: center;
  font-family: $font-alt;
  font-size: 14px;
  font-weight: 500;
  padding: space(1.5) 0;
  border-bottom: 1px solid var(--border-light);
}
.notifications_item {
  display: flex;
  padding: space(2);
  position: relative;
  border-bottom: 1px solid var(--border-light);
}
.notifications_item:hover {
  background-color: var(--background);
  opacity: 1!important;
}
.notifications_item.is-read {
  opacity: .65;
}
.notifications_avatar {
  width: 32px;
  height: 32px;
  margin-right: 13px;
  border-radius: 32px;
}
.notifications_text {
  font-weight: 300;
}
.notifications_text strong {
  font-weight: bold;
}
.notifications_footer {
  text-align: center;
  display: block;
  padding: space(1) 0;

  &:hover {
    background-color: var(--background);
  }
}
