.page__title {
  @extend %hero-title;
  margin-bottom: space(7);
}

// Page header
// ==========================================================================
.page-header {
  background: var(--background-light);
  border-bottom: 1px solid var(--border);
  padding-bottom: space(6);
  padding-top: space(6);
}

// En tête avec une vague
// ==========================================================================
.wave-header {
  @extend %container;
  padding-top: space(6);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: space(3);
  color: #fff;
  padding-bottom: 70px;
  margin-bottom: -70px;
  --wave-height: 50px;

  & > * {
    min-width: 0;
  }
}
.wave-header__body {
  @extend %hero-text;
  padding-bottom: 20px;
}
.wave-header__title {
  @extend %h1;
}
.wave-header__image {
  display: none;
  position: relative;
}
.wave-header__image img {
  position: relative;
  z-index: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.3));
}
.wave-header .waves {
  --wave-height: 120px;
  transform: scaleX(-1);
}
@include up(690) {
  .wave-header {
    grid-template-columns: 1fr 300px;
  }
  .wave-header__image {
    display: block;
    text-align: center;
    align-self: center;
    padding: 0 25px;

    img {
      height: 200px;
    }
  }
}
@include up(1000) {
  .wave-header {
    padding-bottom: 0;
    margin-bottom: 0;
    grid-template-columns: 1fr 400px;
  }
  .wave-header__body {
    padding-bottom: 100px;
  }
  .wave-header__image {
    display: block;
    align-self: flex-start;
    padding-top: 30px;

    img {
      height: 250px;
    }
  }
}

// Page alternant des blocks de couleurs
// ==========================================================================
.sections > * {
  @extend %container;
  padding-top: 115px;
  padding-bottom: 115px;
}
