.page__title {
  @extend %hero-title;
  margin-bottom: space(7);
}

.page-header {
  @extend %container-margin;
  border-bottom: 1px solid var(--border);
  padding-bottom: space(6);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: space(2);

  @include up(1100) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.page-header__title {
  @extend %hero-title;
  white-space: nowrap;
}
.page-header__title strong {
  display: block;
  color: var(--contrast);
}
.page-header__description {
  max-width: 80%;
}
.page-header__description a {
  text-decoration: underline;
}
