::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}
