// Base
// =============
.tomselected {
  display: none !important;
}

.ts-control {
  position: relative;
}

.ts-input {
  display: flex !important;
  align-items: center;
  padding: 1px 8px !important;
  @extend %input;
  overflow: hidden;
}

.ts-input.focus {
  @extend %input-active;
}

.ts-control .ts-input input {
  border: none;
  padding: 0;
  background-color: transparent;
  width: auto;
  outline: none !important;
  box-shadow: none !important;
  display: inline-block;
  min-width: 7rem;
  max-width: 100%;
  flex: 1 1 auto;
}

.ts-control .ts-input.full input {
  display: none;
}


// Dropdown
// =============
.ts-dropdown {
  white-space: nowrap;
  border: 1px solid var(--border);
  position: absolute;
  z-index: 100;
  min-width: 100%;
  left: 0;
  font-size: .875rem;
  background-color: var(--background-light);
  color: var(--color-light);
}

.ts-dropdown-content {
  overflow-x: hidden;
  max-height: 200px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.ts-dropdown .option,
.ts-dropdown .create,
.ts-dropdown .optgroup-header,
.ts-dropdown .no-results {
  padding: space(1);
  cursor: pointer;
}

.ts-dropdown .option:hover,
.ts-dropdown .option.active {
  background: var(--background);
  color: var(--color);
}

.ts-dropdown .option .highlight {
  background-color: var(--contrast25);
  font-weight: bold;
  color: var(--color);
}

.ts-dropdown .optgroup-header {
  font-weight: bold;
  color: var(--color);
}

.ts-dropdown .optgroup-header ~ .option {
  padding-left: space(2);
}

.ts-dropdown .dropdown-input {
  @extend %input;
  border-left: none!important;
  border-right: none!important;
  border-top: none!important;
}

.no-search + .ts-control .dropdown-input-wrap {
  height: 0;
  opacity: 0;
}

@media (min-width: 640px) {
  .ts-dropdown .option {
    padding-right: 100px;
  }
}

.ts-dropdown .spinner {
  position: absolute;
  top: 0;
  right: space(2);
  margin: space(1) 0 0 space(1);
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border-left: solid 2px var(--contrast);
  display: block;
  animation: tsDropdownSpinner 1s linear infinite;
}

@keyframes tsDropdownSpinner {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}

// Single
// =============
.ts-control.single .ts-input {
  padding-right: space(4)!important;
}
.ts-control.single .ts-input::after {
  border-color: var(--color-light) transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -1px;
  position: absolute;
  right: space(1);
  top: 50%;
  width: 0;
  transition: border .3s;
}
.ts-control.single .ts-input.focus::after {
  border-color: var(--color) transparent transparent;
}
.ts-control.single .ts-input input {
  margin-left: .5rem;
}

// Multi
// =============
.ts-control.multi .ts-input {
  padding: 0 4px !important;
}

.ts-control.multi .ts-input .item {
  white-space: nowrap;
  background: var(--contrast);
  font-size: 0.9rem;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: space(1);
}

.ts-input .remove {
  padding: 0 space(1);
  margin-right: space(-1);
  opacity: .7;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }

  .single & {
    display: none;
  }
}
