{% extends 'admin/base.html.twig' %}

{% block body %}

  <div class="dashboard-title">
    {% block title '' %}
  </div>

  {% include 'partials/flash.html.twig' %}

  <div class="dashboard-card">
    {% block content '' %}
  </div>
{% endblock %}

