{% extends 'admin/base.html.twig' %}

{% block body %}

  <div class="stack" style="--gap:1">

    <div class="dashboard-title">
      {% block title '' %}
    </div>

    {% include 'partials/flash.html.twig' %}

    <div class="dashboard-card stack-large">
      {% block content '' %}
    </div>

  </div>

{% endblock %}

