// Outils
// ==================
@import 'tools/functions';
@import 'tools/mixins';

@import 'modules/attachments';
@import 'modules/admin/dashboard';
@import 'modules/admin/chapters';
@import 'modules/admin/sortable';
@import 'modules/admin/spotlight';

body.admin::after {
  display: none;
}

// Icone pour l'upload de vidéo youtube
// =============
.sync-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  transition: .3s;
  .icon {
    width: 24px;
    height: 24px;
    transition: .3s;
  }
  &:hover {
    color: var(--color);
  }
  &:hover .icon {
    transform: rotate(180deg);
  }
}

// Corrige un bug sur l'éditeur de diff
span[class$="word-diff"] {
  display: inline !important;
}
