// Variables
// ==================
:root {
  --color-dark: #000;
  --color: #121c42;
  --color-light: #121c4299;
  --color-inversed: #effbec;
  --color-transparent: #{rgba(#121c42, 0)};
  --contrast: #4869ee;
  --contrast25: #4869ee3f;
  --gap: 20px;
  --space: 8px;
  --border: #d5e3ec;
  --border-light: #e6eff4;
  --background: #f7fafb;
  --background-light: #fff;
  --shadow: #d8e1e8;
  --list-hover: var(--background);
  --play: #f3f9fb; // Couleur de fond du bouton play
  --space-section: 150px;
  --card-footer: #f7fafd;
  --card-padding: 16px;
  --header-height: 137px;
  --red: #f25353;
  --green: #41cf7c;
  --yellow: #feb32b;
  --yellow-alpha: #feb32b4c;
  --skeleton: var(--border-light);
  --skeleton-wave: var(--border-light);
  --selection-background: var(--border);
}

// Outils
// ==================
@import 'tools/reset';
@import 'tools/functions';
@import 'tools/mixins';
@import 'tools/layout';
@import 'tools/typography';
@import 'tools/animations';

// Dark mode
// =============
@include dark {
  --color-dark: #f0f3ff;
  --color: #d4dcff;
  --color-light: #8491c7;
  --color-inversed: #d4dcff;
  --contrast: #5396e7;
  --gap: 20px;
  --space: 8px;
  --border: #2a2e5e;
  --border-light: #161e3b;
  --background: #171933;
  --background-light: #1b1e3d;
  --card-bg: #22244d;
  --card-bg-footer: #1d1f42;
  --shadow: rgba(0, 0, 0, 0.2);
  --play: #1d1d3a;
  --list-hover: #282a5a;
  --card-footer: #{darken(#202248, 3)};
  --skeleton: #0f1224;
  --skeleton-wave: #171933;
  --red: #A6333F;
  --selection-background: #3D59A1;

  .lighten-dark {
    filter: brightness(10);
  }

  youtube-player {
    --color: #111426;
  }
  waves-shape {
    --contrast: #263880;
  }
}

// Generic
// ==================
body {
  font-family: $font;
  font-size: 16px;
  color: var(--color);
  line-height: 1.6;
  background: var(--background);
  scroll-margin: 100px 0 0 0;
  word-break: break-word;
}

body.light {
  background: var(--background-light);
  &::after {
    display: none;
  }
}

body.header-light::after {
  display: none;
}

body::after {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 580px;
  height: 506px;
  z-index: -1;
  pointer-events: none;
  background: url(/images/logo-overlay.svg) top left / 100% 100% no-repeat;

  @include up(700) {
    display: block;
  }
}

::selection {
  background: var(--contrast);
  color: #fff;
}

.split-background {
  background: linear-gradient(to top, var(--background-light), var(--background-light)) left top/100% var(--split)
    no-repeat var(--background);
}

// Force les custom element à être en block
// =============
con-fetti {
  display: block;
}


// Modules
// ==================
@import 'modules/header';
@import 'modules/card';
@import 'modules/color';
@import 'modules/scrollbar';
@import 'modules/btn';
@import 'modules/pagination';
@import 'modules/form';
@import 'modules/alert';
@import 'modules/formatted';
@import 'modules/table';
@import 'modules/tabs';
@import 'modules/list';
@import 'modules/pill';
@import 'modules/modal';
@import 'modules/comments';
@import 'modules/page';
@import 'modules/breadcrumb';
@import 'modules/hero';
@import 'modules/nav';
@import 'modules/highlight';
@import 'modules/pricing';
@import 'modules/notifications';
@import 'modules/footer';
@import 'modules/stepper';
@import 'modules/slider';
@import 'modules/search';
@import 'modules/filter';
@import 'modules/dropdown';
@import 'modules/noel';
@import 'modules/themeswitcher';
// @import 'modules/tooltips';

// Pages
// ==================
@import 'pages/live';
@import 'pages/course';
@import 'pages/cursus';
@import 'pages/chapters';
@import 'pages/auth';
@import 'pages/blog';
@import 'pages/env';
@import 'pages/formations';
@import 'pages/home';
@import 'pages/forum';
@import 'pages/user';
@import 'pages/premium';
@import 'pages/badges';
@import 'pages/error';
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
