// Variables
// ==================
:root {
  --color: #121C42;
  --color-transparent: #{rgba(#121C42, 0)};
  --color-btn: #EFFBEC;
  --contrast: #4869EE;
  --gap: 20px;
  --space: 8px;
  --border: #D5E3EC;
  --background: #F7FAFB;
  --background-light: #FFF;
  --shadow: #D8E1E8;
  --list-hover: var(--background);
  --play: #F3F9FB; // Couleur de fond du bouton play
  --space-section: 150px;
  --card-footer: #F7FAFD;
  --card-padding: 16px;
  --header-height: 137px;
}

.dark {
  --color: #EFFBEC;
  --contrast: #61a0f6;
  --gap: 20px;
  --space: 8px;
  --border: #122c45;
  --background: #11172e;
  --background-light: #202248;
  --shadow: #0b0c1a;
  --play: #1d1d3a;
  --list-hover: #282a5a;
  --card-footer: #{darken(#202248, 3)};
}

// Outils
// ==================
@import "tools/reset";
@import "tools/functions";
@import "tools/mixins";
@import "tools/layout";
@import "tools/typography";
@import "tools/animations";

// Generic
// ==================
body {
  font-family: $font;
  font-size: 16px;
  color: var(--color);
  line-height: 1.6;
  background: url(../images/logo.svg) top left / 580px 506px no-repeat var(--background);
}

::selection {
  background: var(--contrast);
  color: #FFF;
}

// Modules
// ==================
@import "modules/header";
@import "modules/card";
@import "modules/scrollbar";
@import "modules/btn";
@import "modules/pagination";
@import "modules/form";
@import "modules/alert";
@import "modules/formatted";

// Pages
// ==================
@import "pages/live";
@import "pages/course";
@import "pages/auth";
@import "pages/blog";
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
