@layer components {
    .input {
        width: 100%;
        border: 1px solid var(--color-border);
        background: var(--color-background);
        border-radius: 3px;
        color: var(--color-foreground);
        padding: 8px 8px;
        display: block;
        width: 100%;
        outline: none;
        min-height: 48px;

        &:focus {
            border-color: var(--color-primary);
            box-shadow: 0 0 0 3px
                color-mix(in srgb, var(--color-primary) 25%, transparent);
        }
    }
}
