[Unit]
Description={{ domain }} Goaccess
Documentation=https://github.com/Grafikart/Grafikart.fr

[Service]
Type=simple
RestartSec=1
ExecStart=/usr/bin/goaccess -f {{ root_path }}/var/log/access.log \
          --real-time-html --ws-url=wss://{{ domain }}:443/goaccessws \
          -o {{ root_path }}/public/report.html --port=7890 \
          --config-file={{ root_path }}/tools/goaccess/goaccess.conf \
          --origin=https://{{ domain }} \
          --db-path={{ root_path }}/var/goaccess
Restart=always
ExecStop=/bin/kill -9 ${MAINPID}
WorkingDirectory={{ root_path }}

[Install]
WantedBy=default.target
