<div class="{{ class ?? 'chapters' }}" is="auto-scroll" data-to="{{ current is defined ? current : '' }}">
  {% for chapter in chapters %}
    {% include 'chapters/_item.html.twig' %}
  {% endfor %}
</div>
