services:
  _defaults:
    autowire: true # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false

  App\Http\Twig\TwigCacheExtension:
    class: App\Http\Twig\TwigCacheExtension
    arguments:
      $active: false
