parameters:
  admin_prefix:  '%env(resolve:ADMIN_PREFIX)%'
  download_path: '%kernel.project_dir%/tests/fixtures'
  podcasts_path: '%download_path%'
  videos_path:   '%download_path%'
  sources_path:  '%download_path%'
imports:
  - { resource: domains/ }
services:
  App\Tests\Infrastructure\Mercure\HubStub:
    decorates: mercure.hub.default.traceable
  App\Infrastructure\Social\SocialLoginService:
    autowire: true
    public: true
