parameters:
  admin_prefix:     '%env(resolve:ADMIN_PREFIX)%'
  download_path:    '%kernel.project_dir%/downloads'
  podcasts_path:     '%kernel.project_dir%/public/podcasts'
  videos_path:      '%download_path%/videos'
  sources_path:     '%download_path%/sources'
  image_resize_key: '%env(resolve:IMAGE_RESIZE_KEY)%'
  geoip_database:   '%kernel.project_dir%/var/GeoLite2-Country.mmdb'
  container.dumper.inline_factories: true
  container.dumper.inline_class_loader: true
  dkim_key: '%env(resolve:default::MAILER_DKIM)%'
  router.request_context.host: 'grafikart.fr'
  router.request_context.scheme: 'https'
  asset.request_context.secure: true
  captcha_id: '%env(resolve:default::CAPTCHA_ID)%'
  captcha_secret: '%env(resolve:default::CAPTCHA_SECRET)%'

imports:
  - { resource: domains/ }

services:
  _defaults:
    autowire: true # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false
    bind:
      $videosPath: '%videos_path%'
      $projectDir: '%kernel.project_dir%'
      $adminPrefix: '%admin_prefix%'
      $appEnv: '%kernel.environment%'

  _instanceof:
    App\Normalizer\Breadcrumb\BreadcrumbGeneratorInterface:
      tags: ['app.breadcrumb']

  Redis:
    class: \Predis\Client
    arguments:
      - '%env(REDIS_URL)%'

  Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler:
    arguments:
      - '@Redis'

  App\:
    resource: '../src/*'
    exclude: '../src/{DependencyInjection,Entity,Infrastructure/Migrations,Tests,Kernel.php}'

  App\Http\Controller\:
    resource: '../src/Http/Controller'
    tags: ['controller.service_arguments']

  App\Http\Admin\Controller\:
    resource: '../src/Http/Admin/Controller'
    tags: ['controller.service_arguments']

  App\Http\Api\Controller\:
    resource: '../src/Http/Api/Controller'
    tags: ['controller.service_arguments']

  App\Infrastructure\Storage\Naming\IdDirectoryNamer:
    public: true

  App\Http\Admin\Firewall\AdminRequestListener:
    arguments: ['%admin_prefix%']

  Knp\Bundle\PaginatorBundle\Helper\Processor: ~

  App\Helper\Paginator\PaginatorInterface:
    class: App\Helper\Paginator\KnpPaginator

  App\Http\Twig\TwigBreadcrumbExtension:
    arguments: [!tagged_iterator app.breadcrumb]

  App\Infrastructure\Uploader\PropertyGroupedDirectoryNamer:
    public: true

  App\Infrastructure\Mercure\Service\CookieGenerator:
    arguments:
      $secret: '%env(resolve:MERCURE_SUBSCRIBER_KEY)%'

  App\Http\Twig\TwigAssetExtension:
    arguments:
      $assetPath: '%kernel.project_dir%/public/assets'
      $env: '%kernel.environment%'

  App\Infrastructure\Image\ImageResizer:
    arguments: ['%image_resize_key%']

  App\Infrastructure\Orm\DoctrineSchemaListener:
    tags: ['doctrine.event_subscriber']

  App\Infrastructure\Queue\FailedJobsService:
    arguments: ['@messenger.transport.failed']

  App\Infrastructure\Queue\ScheduledJobsService:
    arguments:
      $dsn: '%env(MESSENGER_TRANSPORT_DSN)%'

  App\Infrastructure\Spam\SpamService:
    arguments: [['App\Domain\Forum\Entity\Topic', 'App\Domain\Forum\Entity\Message']]

  App\Command\DumpCommand:
    arguments:
      $dumpPath: '%kernel.project_dir%/var'
      $filesystem: '@dropbox_filesystem'

  App\Infrastructure\Storage\DropboxFilesystemFactory:
    arguments:
      - '%env(DROPBOX_TOKEN)%'

  App\Infrastructure\Mailing\Mailer:
    arguments:
      $dkimKey: '%dkim_key%'

  dropbox_filesystem:
    class: League\Flysystem\Filesystem
    factory: ['@App\Infrastructure\Storage\DropboxFilesystemFactory', 'createFilesystem']

  App\Infrastructure\Captcha\HCaptcha\HCaptchaType:
    arguments:
      $apiKey: '%captcha_id%'

  App\Infrastructure\Captcha\HCaptcha\IsValidHCaptchaValidator:
    arguments:
      $apiSecret: '%captcha_secret%'

  App\Infrastructure\Captcha\CaptchaImageService:
    arguments:
      $imagePath: '%kernel.project_dir%/public/images/captcha'

  App\Http\Twig\TwigUrlExtension:
    arguments:
      $uploaderHelper: '@Vich\UploaderBundle\Templating\Helper\UploaderHelper'

  App\Http\Api\Processor\NotificationProcessor:
    bind:
      $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'
      $removeProcessor: '@api_platform.doctrine.orm.state.remove_processor'
