{% if formation.deprecatedBy %}
  <alert-message type="warning" class="mt0 {{ class is defined ? class : '' }}">
    <strong>Cette formation est dépréciée !</strong> Une formation plus récente est maintenant disponible : <a href="{{ path(formation.deprecatedBy) }}">{{ formation.deprecatedBy.title }}</a>.
  </alert-message>
{% endif %}
