{% extends 'base.html.twig' %}

{% block body %}

  <div class="formations py5">
    <div class="course-hero">
      <h1>Toutes les <strong>formations</strong></h1>
      <div>
        <p class="mb1">
          Découvrez une technologie spécifique à travers une série de vidéo qui vous guidera dans votre apprentissage
        </p>
      </div>
    </div>
    {% for formation in formations %}
      {% include 'formations/_card.html.twig' %}
    {% endfor %}
  </div>

{% endblock %}

