{% extends 'base.html.twig' %}

{% set bodyClass = 'header-light' %}
{% set title = 'Toutes les formation' %}

{% block body %}

  <main class="formations split-background container py5" style="--split:380px">
    <div class="course-hero">
      <h1>Toutes les <strong>formations</strong></h1>
      <div>
        <p class="mb1">
          Découvrez une technologie spécifique à travers une série de vidéo qui vous guidera dans votre apprentissage
        </p>
      </div>
    </div>
    {% for formation in formations %}
      {% include 'formations/_card.html.twig' %}
    {% endfor %}
  </main>

  {{ show_history(formations) }}

{% endblock %}

