{% extends 'base.html.twig' %}

{% block body %}

  <div class="formations py5">
    <div class="course-hero">
      <h1>Toutes les formations</h1>
      <div>
        <p class="mb1">
          Découvrez une technologie spécifique à travers une série de vidéo qui vous guidera dans votre apprentissage
        </p>
        <p>Vous ne savez pas par quoi commencer ? <a href="{{ path('formation_map') }}">Laissez vous guider</a>!</p>
      </div>
    </div>
    {% for formation in formations %}
      {% include 'formations/_card.html.twig' %}
    {% endfor %}
  </div>

{% endblock %}

