{% extends 'base.html.twig' %}

{% block body %}

  <div class="blog-posts">

    <h2>Catégories</h2>

    <ul>
      {% for category in categories %}
      <li><a href="{{ path('blog_category', {slug: category.slug}) }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>

    {% for post in posts %}
      {% include 'blog/_post.html.twig' %}
    {% endfor %}

    {{ knp_pagination_render(posts) }}
  </div>

{% endblock %}
