{% extends 'base.html.twig' %}

{% block title title %}

{% block body %}

  <div class="blog-posts">

    <h1 class="reader-only">{{ title }}</h1>

    {% for post in posts %}
      {% include 'blog/_post.html.twig' %}
    {% endfor %}

    {{ knp_pagination_render(posts) }}
  </div>

{% endblock %}
