// Chapitres
.chapters-editor li {
  position: relative;
}
.chapters-editor > li > .chapters-editor__delete {
  top: 16px;
}
.chapters-editor > .chapters-editor__add {
  margin-left: 0;
}
.chapters-editor__chapter {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.85em;
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

// Cours
.chapters-editor__course {
  display: block;
  padding: space(1) space(2);
  border: solid 1px var(--border);
  margin-left: space(3);
  position: relative;
  box-shadow: 0px 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 2px;
  margin-bottom: space(1);
}
.chapters-editor__course::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--border);
  opacity: 0.1;
  pointer-events: none;
}
.chapters-editor__course.sortable-ghost {
  color: transparent;
}
.chapters-editor__course.sortable-ghost::after {
  opacity: 0.4;
}
.chapters-editor__course::before {
  --background-handle: var(--border);
  content: '';
  width: 16px;
  height: 15px;
  position: absolute;
  left: -24px;
  top: calc(50% - 8px);
  cursor: move;
  background: linear-gradient(to bottom, var(--background-handle) 0px, var(--background-handle) 2px, transparent 4px)
    top left / 100% 6px repeat;
}

// Boutons
.chapters-editor__delete,
.chapters-editor__add button {
  position: absolute;
  top: calc(50% - 8px);
  right: space(1);
  color: var(--border);
}
.chapters-editor__delete svg,
.chapters-editor__add svg {
  width: 16px;
  height: 16px;
}
.chapters-editor__add {
  position: relative;
  margin-left: space(3);
}
.chapters-editor__add input {
  border: 2px solid var(--green);
}
.chapters-editor__add input::placeholder {
  color: var(--green);
}
.chapters-editor__add svg {
  color: var(--green);
  transform: rotate(45deg);
}
