- name: Donwload GEOIP Database
  unarchive:
    src: "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-Country&license_key={{ geoip_key }}&suffix=tar.gz"
    dest: "{{ root_path }}/var"
    remote_src: yes
    extra_opts:
      - --strip=1
      - --wildcards
      - '*/GeoLite2-Country.mmdb'
