www.{{ domain }} {
	redir https://{{ domain }}{uri} permanent
}

{{ domain }} {
	encode zstd br gzip
	root * {{ root_path }}/public/

	handle /downloads/* {
		forward_auth https://{{ domain }} {
			uri /auth/check/premium
		}
		uri strip_prefix /downloads
		root * {{ root_path }}/downloads/
		file_server
	}

	@immutable {
		path_regexp \.(css|js|woff2?|ttf|eot)$
	}
	@media {
		path_regexp \.(jpe?g|png|gif|webp|avif|svg|ico|mp3)$
	}
	@assets {
		path /build/* /favicons/* /images/* /schools/* /uploads/* /favicon.ico /favicon.svg /robots.txt /error.html /opensearch.xml /manifest.webmanifest /print.css /notification.mp3
	}

	header @immutable Cache-Control "public, max-age=31536000, immutable"
	header @media Cache-Control "public, max-age=2592000"

	handle @assets {
		file_server
	}

	handle {
		php_server
	}

	handle_errors 404 {
		rewrite * /404
		php_server
	}

	mercure {
		publisher_jwt {{ mercure_publisher_key }}
		subscriber_jwt {{ mercure_subscriber_key }}
	}
}
