[Unit]
Description={{ domain }} Mercure
Documentation=https://github.com/Grafikart/Grafikart.fr

[Service]
ExecStart=/usr/local/bin/mercure --jwt-key='{{ mercure_subscriber_key }}' --publisher-jwt-key='{{ mercure_publisher_key }}' --addr=':3000' --cors-allowed-origins='*' --publish-allowed-origins='http://localhost:3000'
Restart=on-failure
Type=simple
RestartSec=1
StandardOutput=null

[Install]
WantedBy=default.target
