[Unit]
Description={{ domain }} Messenger
Documentation=https://github.com/Grafikart/Grafikart.fr

[Service]
ExecStart=/usr/bin/php {{ root_path }}/bin/console messenger:consume async --time-limit=3600
Type=simple
Restart=always
RestartSec=1
StandardOutput=null

[Install]
WantedBy=default.target
