[Unit]
Description={{ domain }} Queue
Documentation=https://github.com/Grafikart/Grafikart.fr

[Service]
ExecStart=/usr/bin/php-zts {{ root_path }}/artisan queue:work --sleep=3 --tries=3 --max-time=3600
Type=simple
Restart=always
RestartSec=1
StandardOutput=null

[Install]
WantedBy=default.target
