{% extends 'base.html.twig' %}

{% block title 'Tous les tutoriels' ~ ((page > 1) ? (', page' ~ page) : '') %}

{% block body %}
  <div class="courses">
    <div class="course-hero {% if page > 1 %}is-paginated{% endif %}">
      {% if page == 1 %}
        <h1>Tous les tutoriels</h1>
        <p>
          Envie d'apprendre de nouvelles choses et maitriser de nouvelles technologies ?<br>
          Alors vous êtes sur le bon chemin...
        </p>
      {% else %}
        <h1>Tous les tutoriels<em><br>page {{ page }}</em></h1>
      {% endif %}
    </div>
    {% for course in courses %}
      {% include 'courses/_card.html.twig' %}
    {% endfor %}
  </div>

  {{ knp_pagination_render(courses) }}
{% endblock %}
