{% extends 'base.html.twig' %}

{% set bodyClass = 'header-light' %}

{% block title 'Tous les tutoriels premiums' ~ ((page > 1) ? (', page' ~ page) : '') %}

{% block body %}
  <div class="container py5 split-background" style="--split:380px">

    <div class="courses">
      <div class="course-hero {% if page > 1 %}is-paginated{% endif %}">
        {% if page == 1 %}
          <h1>Tous les tutoriels <strong>premiums</strong></h1>
          <p>
            Le visionnage de ces tutoriels est réservé aux membres premiums
          </p>
        {% else %}
          <h1>Tous les tutoriels<em><br>page {{ page }}</em></h1>
        {% endif %}
      </div>
      {% for course in courses %}
        {% include 'courses/_card.html.twig' %}
      {% endfor %}
    </div>

    {{ paginate(courses) }}

  </div>

  {% if app.user %}
    {{ show_history(courses.items) }}
  {% endif %}

{% endblock %}
