<modal-dialog overlay-close>
  <div class="modal-box text-center">
    <img src="/images/illustrations/success.svg" alt="" style="max-width: 300px; margin-top: -130px;">
    <header class="mb1 mt1">Félicitations !</header>
    <p>Bien joué jeune padawan ! On poursuit la formation Jedi avec une nouvelle vidéo ?</p>
    <footer class="text-center mt3">
      {% if button %}
        <a data-dismiss class="btn btn-block btn-primary" href="{{ path(button.target) }}#{{ button.anchor }}">
          {{ button.title }}
        </a>
      {% endif %}
    </footer>
    <button
      data-dismiss
      aria-label="Close"
      class="modal-close"
    >
      {{ icon('cross') }}
    </button>
  </div>
</modal-dialog>
