{% set headerWhite = true %}

{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
  <div class="sub-header">
    <div class="auth-container">
      <h1 class="auth-title fade">Mot de passe oublié</h1>
      {{ form_start(form, {attr: {class: 'auth-form fade fade-1'}}) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn-gradient">M'envoyer les instructions</button>
      {{ form_end(form) }}
    </div>
    <waves-shape></waves-shape>
  </div>
{% endblock %}
