{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block body %}
  <div class="page-header container">
    <h1 class="h1 mb1">Page introuvable</h1>
    <p>Mais rassurez vous tout espoir n'est pas perdu</p>
  </div>

  <section class="container bg py5">
    <img src="{{ asset('images/racoon.svg') }}" alt="" width="366">
  </section>
{% endblock %}
