{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block body %}
  <div class="page-header container">
    <h1 class="h1 mb1">Accès interdit</h1>
    <p>Vous n'êtes pas autorisé à voir cette resource :(</p>
  </div>

  <section class="container bg py5">
    <img src="{{ asset('images/racoon.svg') }}" alt="" width="366">
  </section>
{% endblock %}
