{% extends 'base.html.twig' %}

{% set bodyClass = 'header-light' %}

{% block body %}

  <div class="cursus-listing">

    {# Choix du parcours #}
    <div class="cursus-section text-center stack-large">
      <div class="hero-title">
        Quel <strong>parcours</strong><br>
        choisir ?
      </div>
      <p class="hero-text container-narrow">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore ea est eum fugit nemo non odio reiciendis ullam veniam. At debitis eius explicabo, in laboriosam maxime modi obcaecati. Illo!
      </p>
      <div>
        <div style="max-width: 800px; margin-left: auto; margin-right: auto;">
          <youtube-player video="3yWEsqqyvp4" poster="https://www.grafikart.fr/uploads/tutoriels/1/background_122.jpg" title="Par quoi commencer ?"></youtube-player>
        </div>
      </div>
    </div>

    {% for cursus_category in cursus_categories %}
      {% set category = cursus_category[0].category %}
    <div class="cursus-section stack-large">
      <h2 class="hero-title">
        {{ category.name | raw}}
      </h2>
      <p class="hero-text">
        {{ category.description }}
      </p>
      <div class="cursus-grid">
        {% for cursus in cursus_category %}
          {% include "cursus/_card.html.twig" %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}

  </div>

{% endblock %}

