<form class="form-group flex" action="{{ path('forum_search') }}">
  <input type="text" name="q" placeholder="Rechercher un sujet" value="{{ q is defined ? q : '' }}">
  <button type="submit" class="btn-primary">Rechercher</button>
</form>
