{% extends 'base.html.twig' %}

{% block title 'Forum' %}

{% block body %}

<div class="container forum-search">
  <h1 class="hero-title">Forum</h1>
</div>

<div class="forum-page">
  <div class="forum-page__sidebar stack">
    <a href="#" class="btn-primary">Nouveau sujet</a>
    <ul>
      <li>
        <a href="{{ path('forum') }}">
          Tous les sujets
        </a>
      </li>
      {% for tag in tags %}
        <li>
          <a href="{{ path('forum_tag', {slug: tag.slug, id: tag.id}) }}">
            {{ tag.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <main class="forum-page__main stack">
    {% for topic in topics %}
      {% include('forum/_topic.html.twig') %}
    {% endfor %}
  </main>

  {% endblock %}
