{% extends 'base.html.twig' %}

{% block title 'Forum' %}

{% block body %}

<div class="container forum-search">
  <h1 class="hero-title">Forum</h1>
</div>

<div class="forum-page">
  <div class="forum-page__sidebar stack">
    <a href="#" class="btn-primary">Nouveau sujet</a>
    <ul>
      <li>
        <a href="{{ path('forum') }}">
          Tous les sujets
        </a>
      </li>
      {% for tag in tags %}
        <li>
          <details>
            <summary>
                {{ tag.name }}
            </summary>
            <ul>
              {% for t in tag.children %}
                <li>
                  <a href="{{ path_for(t) }}">
                    {{ t.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </details>
        </li>
      {% endfor %}
    </ul>
  </div>

  <main class="forum-page__main stack">
    {% for topic in topics %}
      {% include('forum/_topic.html.twig') %}
    {% endfor %}
  </main>
</div>
{% endblock %}
