{% extends 'mails/base.html.twig' %}

{% block body %}
  Instruction de renvoie de mot de passe

  <a href="{{ url('auth_password_reset_confirm', {id: id, token: token}) }}">Clique ici</a>
{% endblock %}
