{% extends 'base.html.twig' %}

{% block title %}Hello LiveController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Revoir les précédents lives</h1>
    <p>
        Les lives permettent de discuter de certaines choses qui ne pourraient pas être traitée en vidéo. C’est aussi l’occasion de poser vos questions et d’avoir des avis à chaud sur certaines tendances et technologies.
    </p>
    <ul>
        {% for live in lives %}
        <li class="live">{{ live.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
