{% extends 'base.html.twig' %}

{% block title 'Live' %}

{% block body %}

  <div class="live-current">

      {% if on_air %}
        <h1 class="live-current__title">Live en cours<em class="text-muted"></h1>
      {% elseif live_future %}
        <h1 class="live-current__title">Prochain live<em class="text-muted">, {{ live_at | format_datetime(pattern="eeee dd MMMM à HH:mm") }}</em></h1>
      {% endif %}

    <div class="live-current__body">
      <iframe src="https://player.twitch.tv/?channel=grafikart&parent={{ app.request.host }}" allowfullscreen="true" ></iframe>
      <iframe id="chat_embed" src="https://www.twitch.tv/embed/grafikart/chat?darkpopout&parent={{ app.request.host }}" height="500" width="350"> </iframe>
    </div>

  </div>

{% endblock %}
